// base font size
$browser-context:16px;

/**** Google Fonts ****/
// Montserrat
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,900i');
$monte:'Montserrat',sans-serif;
$montB:''800;
$montSemi:600;
// Lato
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

/* Lato Variables */
$lato:'Lato', sans-serif;
$lato-norm:400;
$lato-italic:italic;
$lato-bold:900;
// typeColor
$typeColor:#333333;
$typeColorB:#423F3F;

// Lora
@import url('https://fonts.googleapis.com/css?family=Lora:400,700');
$lora:'Lora',serif;


// lato
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
$lato:'Lato','serif';

/* Base Size */
$base:0.5em;

/**** Responsive Scales ****/
$ms-range:
1.1 15em,
1.333 60em;

p{
    font-family: $lato;
    color:$typeColorB;
    line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6{
    font-family: $monte;
    color:$typeColorB;
}
