/* Modular Scale */
@import "vendor/mod-scale";
// Modular Scale Variables
// 1em = 16px
$ms-base:1em;
// multiplyed by base to create a scale of numbers
$ms-ratio:1.5;


// site-by svg height adjustment for mobile
$mobile:550px;
$desktop:900px;

/* Colors */
$projects:cyan;
$bio:yellow;
$chat:lime;
$hawaiian-blue:#1010EC;
$hawaiian-red:#FF2A2A;
$text:#002b36; // charcoal
$circleNav:#373D45; // circle nav button
$circleNav2:#37535A;
$circleNav3:#51585A;
$sand:rgba(227, 227, 203, 0.89); // page color
$color-1: #243040; // Ebony Clay
$color-2: #9cb3a8; // Pewter
$color-3: #ffffff; // White
$color-4:#D7E1DC;; // OffCyan
$footer_social:gainsboro;
$footer_nav:skyblue;
$aloha_goodbye:seashell;
$discription_boxes_secret:rgba(255, 4, 0, 0.58);
$discription_boxes_secret1:#D70A07;
$bottom_line:0 7px 0 rgb(252, 242, 73);
// Radius of Circles on smaller screens
$r:60;

// animation of sliding nav
$animation-dur:0.7s;

// kerning on aloha text
$padding-aloha:10px;
