@import "modules/home-page/home-module";
@import "modules/projects-page/mixins";
@import "modules/pre-footer/pre-footer-mod";
@import "partials/variables";
@import "partials/typography";
@import "modules/global-mqs/mqs";

.text-footer{
    position: relative;
    // top:10rem;
}

#b-w-a{
    font-weight: 600;
}


.pre-footer{
    @include small-tablet{
        top:0px;
    }
}
