@import "modules/home-page/home-module";
@import "modules/projects-page/mixins";
@import "modules/pre-footer/pre-footer-mod";
@import "partials/variables";
@import "partials/typography";
@import "modules/global-mqs/mqs";

.contact-p-head{
  text-align: center;
  margin:2rem;
}

.contact-page{
    position: relative;
    top:5rem;
}

.text-footer{
    position: relative;
    top:15rem;
}

.say-hi{
    @include ms-respond(font-size,4);
    font-weight: $montB;
}
.exit-msg{
  @include ms-respond(font-size,2);
  @include left-right-margin;
  font-weight: $monte;
  position: relative;
  text-align: center;
}

.email:hover,
.email:focus {
   color:blue;
}


.email:hover{
   background-size:100% 100%;
}


.email{
  font-family: $monte;
  font-weight: $montB;
  @include hover-links;
  color:$typeColor;
  position:relative;
}

.list2{
  margin-top:2rem;
}

.backtop{
  top:1rem;
}

#b-w-a{
    font-weight: 600;
}


.text-footer{
    @include small-tablet{
        top:20rem;
    }
}
