/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300i,400,400i,600,900i");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
@import url("https://fonts.googleapis.com/css?family=Lora:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400i");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300i,400,400i,600,900i");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
@import url("https://fonts.googleapis.com/css?family=Lora:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400i");
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
footer,
header,
nav,
section {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

/**
 * Address styling not present in Safari and Chrome.
 */

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/**
 * Address differences between Firefox and other browsers.
 */

/**
 * Contain overflow in all browsers.
 */

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
input {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */

/**
 * Re-set default cursor for disabled elements.
 */

/**
 * Remove inner padding and border in Firefox 4+.
 */
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

/**
 * Define consistent border, margin, and padding.
 */

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 100; } }

.main-scene {
  /** Basic styles for an animated element */ }
  .main-scene .scene_element {
    animation-duration: 0.25s;
    transition-timing-function: ease-in;
    animation-fill-mode: both; }
  .main-scene .scene_element--fadein {
    animation-name: fadein; }

.luxbar-fixed {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.luxbar-hamburger span, .luxbar-hamburger span::before, .luxbar-hamburger span::after {
  display: block;
  height: 2px;
  width: 26px;
  transition: 0.6s ease; }

.luxbar-checkbox:checked ~ .luxbar-menu li .luxbar-hamburger span {
  background-color: transparent; }

.luxbar-checkbox:checked ~ .luxbar-menu li .luxbar-hamburger span::before, .luxbar-checkbox:checked ~ .luxbar-menu li .luxbar-hamburger span::after {
  margin-top: 0; }

.luxbar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 58px; }

.luxbar-menu-right .luxbar-hamburger {
  margin-left: auto; }

.luxbar-brand {
  font-size: 1.6em; }

.luxbar-menu {
  min-height: 58px;
  transition: 0.6s ease;
  width: 100%; }

.luxbar-navigation {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  margin: 0; }

.luxbar-menu a,
.luxbar-item a {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

.luxbar-item {
  height: 58px; }

.luxbar-item a {
  padding: 18px 24px 18px 24px;
  display: block; }

.luxbar-hamburger {
  padding: 18px 24px 18px 24px;
  position: relative;
  cursor: pointer; }

.luxbar-hamburger span::before, .luxbar-hamburger span::after {
  content: '';
  position: absolute; }

.luxbar-hamburger span::before {
  margin-top: -8px; }

.luxbar-hamburger span::after {
  margin-top: 8px; }

.luxbar-checkbox {
  display: none; }

.luxbar-checkbox:not(:checked) ~ .luxbar-menu {
  overflow: hidden;
  height: 58px; }

.luxbar-checkbox:checked ~ .luxbar-menu {
  transition: height 0.6s ease;
  height: 100vh;
  overflow: auto; }

@media screen and (min-width: 768px) {
  .luxbar-navigation {
    flex-flow: row;
    justify-content: flex-end; }
  .luxbar-hamburger {
    display: none; }
  .luxbar-checkbox:not(:checked) ~ .luxbar-menu {
    overflow: visible; }
  .luxbar-checkbox:checked ~ .luxbar-menu {
    height: 58px; }
  .luxbar-menu .luxbar-item {
    border-top: 0; }
  .luxbar-menu-right .luxbar-header {
    margin-right: auto; } }

.luxbar-checkbox:checked + .luxbar-menu .luxbar-hamburger-spin span::before {
  transform: rotate(45deg); }

.luxbar-checkbox:checked + .luxbar-menu .luxbar-hamburger-spin span::after {
  transform: rotate(-45deg); }

/******* color variables *******/
/******* default dark *******/

/******* default light *******/
.luxbar-menu-light {
  background-color: #e0e0e0;
  color: #212121; }

.luxbar-menu-light .luxbar-item:hover {
  background-color: #6686e6; }

.luxbar-menu-light .luxbar-hamburger span,
.luxbar-menu-light .luxbar-hamburger span::before,
.luxbar-menu-light .luxbar-hamburger span::after {
  background-color: #212121; }

/******* default material-red *******/

/******* default material-indigo *******/

/******* default material-green *******/

/******* default material-amber *******/

/******* default material-brown *******/

/******* default material-bluegrey *******/

/******* default material-cyan *******/

/*# sourceMappingURL=luxbar.css.map */
/**** Google Fonts ****/
/* Lato Variables */
/* Base Size */
/**** Responsive Scales ****/
p {
  font-family: "Lato", "serif";
  color: #423F3F;
  line-height: 1.5em; }

h1, h2 {
  font-family: "Montserrat", sans-serif;
  color: #423F3F; }

h2 {
  font-weight: 400;
  font-style: italic; }

/**
 * Foundation for Sites by ZURB
 * Version 6.4.2
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Change the default font family in all browsers (opinionated).
     * 2. Correct the line height in all browsers.
     * 3. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */

/**
     * Add the correct margin in IE 8.
     */

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */

/**
     * Add the correct display in IE.
     */

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
     * Remove the outline on focused links when they are also active or hovered
     * in all browsers (opinionated).
     */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */

/**
     * Add the correct font style in Android 4.3-.
     */

/**
     * Add the correct background and color in IE 9-.
     */

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */

/**
     * Add the correct display in iOS 4-7.
     */

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
input {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     */

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Change the border, margin, and padding in all browsers (opinionated).
     */

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */

/**
     * Remove the default vertical scrollbar in IE.
     */

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */

/*
     * Add the correct display in all browsers.
     */

/*
     * Add the correct display in IE 9-.
     */

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */

/**
     * Add the correct display in IE.
     */

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */

html {
  box-sizing: border-box;
  font-size: 100%; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  background: #fefefe;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #0a0a0a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic; }

input {
  font-family: inherit; }

.card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-bottom: 1rem;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background: #fefefe;
  box-shadow: none;
  overflow: hidden;
  color: #0a0a0a; }

.card > :last-child {
  margin-bottom: 0; }

.grid-container {
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  max-width: 62.5rem;
  margin: 0 auto; }

.grid-x {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }

.cell {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  min-height: 0px;
  min-width: 0px;
  width: 100%; }

.grid-x > .small-12 {
  -ms-flex-preferred-size: auto;
  flex-basis: auto; }

@media print, screen and (min-width: 40em) {
  .grid-x > .medium-6 {
    -ms-flex-preferred-size: auto;
    flex-basis: auto; } }

@media print, screen and (min-width: 64em) {
  .grid-x > .large-6, .grid-x > .large-12 {
    -ms-flex-preferred-size: auto;
    flex-basis: auto; } }

.grid-x > .small-12 {
  width: 100%; }

@media print, screen and (min-width: 40em) {
  .grid-x > .medium-6 {
    width: 50%; } }

@media print, screen and (min-width: 64em) {
  .grid-x > .large-6 {
    width: 50%; }
  .grid-x > .large-12 {
    width: 100%; } }

.grid-margin-x {
  margin-left: -0.9375rem;
  margin-right: -0.9375rem; }

.grid-margin-x > .cell {
  width: calc(100% - 1.875rem);
  margin-left: 0.9375rem;
  margin-right: 0.9375rem; }

@media print, screen and (min-width: 64em) {
  .grid-margin-x > .large-6 {
    width: calc(50% - 1.875rem); }
  .grid-margin-x > .large-12 {
    width: calc(100% - 1.875rem); } }

.button {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  font-family: inherit;
  padding: 0.85em 1em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 0;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 0.9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #1e46be;
  color: #fefefe; }

.button:hover, .button:focus {
  background-color: #483d8b;
  color: #fefefe; }

.button.large {
  font-size: 1.25rem; }

a.button:hover, a.button:focus {
  text-decoration: none; }

.next-link {
  color: #2196F3 !important; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

/**
 * Add the correct margin in IE 8.
 */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

/**
 * Add the correct font style in Android 4.3-.
 */

/**
 * Add the correct background and color in IE 9-.
 */

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */

/**
 * Add the correct display in iOS 4-7.
 */

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
input {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

/**
 * Remove the inner border and padding in Firefox.
 */

/**
 * Restore the focus styles unset by the previous rule.
 */

/**
 * Correct the padding in Firefox.
 */

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

/**
 * Remove the default vertical scrollbar in IE.
 */

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

/*
 * Add the correct display in all browsers.
 */

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */

/**
 * Add the correct display in IE.
 */

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }

ul:not(.browser-default) {
  padding-left: 0;
  list-style-type: none; }
  ul:not(.browser-default) > li {
    list-style-type: none; }

a {
  color: #039be5;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }

/* 2dp elevation modified*/
.card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); }

/* 6dp elevation modified*/

/* 12dp elevation modified*/

/* 16dp elevation */

/* 24dp elevation */

.hoverable {
  transition: box-shadow .25s; }
  .hoverable:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

/*********************
  Transition Classes
**********************/

/*********************
  Media Query Classes
**********************/

/*******************
  Utility Classes
*******************/

/* This is needed for some mobile phones to display the Google Icon font properly */

.card {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 2px; }
  .card.horizontal {
    display: flex; }
    .card.horizontal .card-stacked {
      display: flex;
      flex-direction: column;
      flex: 1;
      position: relative; }
      .card.horizontal .card-stacked .card-content {
        flex-grow: 1; }
  .card .card-content {
    padding: 24px;
    border-radius: 0 0 2px 2px; }
  .card .card-action {
    background-color: inherit;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    position: relative;
    padding: 16px 24px; }
    .card .card-action:last-child {
      border-radius: 0 0 2px 2px; }
    .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
      color: #ffab40;
      margin-right: 24px;
      transition: color .3s ease;
      text-transform: uppercase; }
      .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
        color: #ffd8a6; }

/*!
 * Waves v0.6.0
 * http://fian.my.id/Waves
 *
 * Copyright 2014 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https://github.com/fians/Waves/blob/master/LICENSE
 */

/* Firefox Bug: link not triggered */

.chip {
  display: inline-block;
  height: 32px;
  font-size: 13px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  line-height: 32px;
  padding: 0 12px;
  border-radius: 16px;
  background-color: #e4e4e4;
  margin-bottom: 5px;
  margin-right: 5px; }
  .chip:focus {
    outline: none;
    background-color: #26a69a;
    color: #fff; }

label {
  font-size: 0.8rem;
  color: #9e9e9e; }

/* Text Inputs + Textarea
   ========================================================================== */
/* Style Placeholders */
::placeholder {
  color: #d1d1d1; }

/* Text inputs */

/* Validation Sass Placeholders */

/* Search Field */

/* Textarea */

/* Autocomplete */

/* Character Counter */

/* Radio Buttons
   ========================================================================== */
[type="radio"]:not(:checked) {
  position: absolute;
  opacity: 0;
  pointer-events: none; }

[type="radio"]:not(:checked) + span {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
  transition: .28s ease;
  user-select: none; }

/* Unchecked styles */
[type="radio"]:not(:checked) + span:before,
[type="radio"]:not(:checked) + span:after {
  border-radius: 50%; }

[type="radio"]:not(:checked) + span:before,
[type="radio"]:not(:checked) + span:after {
  border: 2px solid #5a5a5a; }

[type="radio"]:not(:checked) + span:after {
  transform: scale(0); }

/* Checked styles */

/* Radio With gap */

/* Focused styles */

/* Disabled Radio With gap */

/* Disabled style */
[type="radio"]:disabled:not(:checked) + span:before {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.42); }

[type="radio"]:disabled:not(:checked) + span:before {
  border-color: rgba(0, 0, 0, 0.42); }

/* Checkboxes
   ========================================================================== */
/* Remove default checkbox */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  opacity: 0;
  pointer-events: none; }

[type="checkbox"] {
  /* checkbox aspect */ }
  [type="checkbox"]:not(:checked):disabled + span:not(.lever):before {
    border: none;
    background-color: rgba(0, 0, 0, 0.42); }

/* Indeterminate checkbox */

[type="checkbox"].filled-in:not(:checked) + span:not(.lever):before {
  width: 0;
  height: 0;
  border: 3px solid transparent;
  left: 6px;
  top: 10px;
  transform: rotateZ(37deg);
  transform-origin: 100% 100%; }

[type="checkbox"].filled-in:not(:checked) + span:not(.lever):after {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 2px solid #5a5a5a;
  top: 0px;
  z-index: 0; }

[type="checkbox"].filled-in:disabled:not(:checked) + span:not(.lever):before {
  background-color: transparent;
  border: 2px solid transparent; }

[type="checkbox"].filled-in:disabled:not(:checked) + span:not(.lever):after {
  border-color: transparent;
  background-color: #949494; }

/* Switch
   ========================================================================== */

input[type=checkbox]:checked:not(:disabled) ~ .lever:active::before,
input[type=checkbox]:checked:not(:disabled).tabbed:focus ~ .lever::before {
  transform: scale(2.4);
  background-color: rgba(38, 166, 154, 0.15); }

input[type=checkbox]:not(:disabled) ~ .lever:active:before,
input[type=checkbox]:not(:disabled).tabbed:focus ~ .lever::before {
  transform: scale(2.4);
  background-color: rgba(0, 0, 0, 0.08); }

/* Select Field
   ========================================================================== */

/* File Input
   ========================================================================== */

/* Range
   ========================================================================== */

/* Modular Scale */
/* Colors project pages */
/* halfCircle path colors indiv project pages */
/* Rectangle colors for devices small and large */
/* borders */

.card {
  transition: box-shadow 0.4s;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.12); }

/* Here I import all my modules into the home-module */
/* Padding mixin for links inside paragraph*/
/* Pushing intro-msg margins in closer */
/* Modular Scale */
/* Colors project pages */
/* halfCircle path colors indiv project pages */
/* Rectangle colors for devices small and large */
/* borders */
/**** Google Fonts ****/
/* Lato Variables */
/* Base Size */
/**** Responsive Scales ****/
p {
  font-family: "Lato", "serif";
  color: #423F3F;
  line-height: 1.5em; }

h1, h2 {
  font-family: "Montserrat", sans-serif;
  color: #423F3F; }

h2 {
  font-weight: 400;
  font-style: italic; }

/* Modular Scale */
/* Colors project pages */
/* halfCircle path colors indiv project pages */
/* Rectangle colors for devices small and large */
/* borders */
body {
  overflow-x: hidden;
  overflow-y: scroll;
  overflow-y: scroll;
  /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  background-color: whitesmoke; }

h1 {
  font-size: 1.4641em; }
  @media (min-width: 10em) and (max-width: 20em) {
    h1 {
      font-size: calc( 1.4641em + 0.7658 * ( ( 100vw - 10em) / 10 )); } }
  @media (min-width: 20em) {
    h1 {
      font-size: 2.2299em; } }

h2 {
  font-size: 1.21em; }
  @media (min-width: 10em) and (max-width: 20em) {
    h2 {
      font-size: calc( 1.21em + 0.28328 * ( ( 100vw - 10em) / 10 )); } }
  @media (min-width: 20em) {
    h2 {
      font-size: 1.49328em; } }

.header-img {
  padding-top: 59px;
  width: 100%;
  height: 100%; }

@media only screen and (max-width: 523px) {
  .project-introduction {
    padding: 1rem; } }

.ctalink {
  font-size: 1.1em;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #f5f5f5; }
  @media (min-width: 10em) and (max-width: 20em) {
    .ctalink {
      font-size: calc( 1.1em + 0.122 * ( ( 100vw - 10em) / 10 )); } }
  @media (min-width: 20em) {
    .ctalink {
      font-size: 1.222em; } }

.ctalink:hover {
  transition: background 0.5s;
  background: darkviolet;
  border-bottom: 0px; }

.project-desc-main {
  font-size: 1.21em;
  text-align: left; }
  @media (min-width: 10em) and (max-width: 20em) {
    .project-desc-main {
      font-size: calc( 1.21em + 0.28328 * ( ( 100vw - 10em) / 10 )); } }
  @media (min-width: 20em) {
    .project-desc-main {
      font-size: 1.49328em; } }

.image-container {
  padding: 5px; }

li {
  list-style: none; }

.say-hi {
  font-size: 1.4641em;
  font-weight: 800; }
  @media (min-width: 10em) and (max-width: 20em) {
    .say-hi {
      font-size: calc( 1.4641em + 0.7658 * ( ( 100vw - 10em) / 10 )); } }
  @media (min-width: 20em) {
    .say-hi {
      font-size: 2.2299em; } }

.exit-msg {
  font-size: 1.21em;
  font-weight: "Montserrat", sans-serif;
  position: relative;
  text-align: left; }
  @media (min-width: 10em) and (max-width: 20em) {
    .exit-msg {
      font-size: calc( 1.21em + 0.28328 * ( ( 100vw - 10em) / 10 )); } }
  @media (min-width: 20em) {
    .exit-msg {
      font-size: 1.49328em; } }

.touch {
  padding: 0px 0px 50px; }

.card-action {
  display: flex; }

.next-proj {
  height: 60px; }

.next-link {
  font-weight: 800; }

.prev, .next {
  margin: 10px; }

/* Modular Scale */
/* Colors project pages */
/* halfCircle path colors indiv project pages */
/* Rectangle colors for devices small and large */
/* borders */
footer {
  background-color: #e0e0e0; }

li {
  list-style: none; }

#home, #projects, #about, #contact {
  text-decoration: none; }

.footer-area {
  display: flex;
  width: 100%;
  margin-top: 7rem;
  position: relative; }

.footer-nav {
  position: relative;
  padding: 2rem 0rem 2rem;
  width: 100%;
  height: 100%;
  background-color: #e0e0e0;
  flex-wrap: wrap;
  display: inline-flex;
  justify-content: center; }

.home, .projects-link, .about, .contact-link, .projects-link, .about, .contact-link {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  padding: 0rem 1rem 0rem;
  text-decoration: none; }

.home:hover, .projects-link:hover, .about:hover, .contact-link:hover {
  color: #fff; }

.home, .projects-link, .about, .contact-link {
  color: black;
  font-weight: 900; }

.home, .projects-link, .about, .contact-link {
  padding: 0rem 1rem 0rem;
  text-decoration: none; }

.social {
  display: inline-flex;
  background: #e0e0e0;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  height: 5rem;
  justify-content: center; }

.social1-gh, .social3-in, .social4-twitter, .social5-behance {
  font-family: "Montserrat", sans-serif;
  position: relative; }

.github, .linkedin, .twitter, .behance {
  padding: 0px !important;
  display: block;
  overflow: hidden;
  border-radius: 50%;
  width: 45px;
  position: relative;
  margin: 10px; }

.bottom {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  background-color: #e0e0e0;
  position: relative;
  height: 25px;
  bottom: 4px; }

@media only screen and (max-width: 425px) {
  .footer-nav {
    padding-top: 10px;
    align-items: center;
    flex-direction: column;
    height: 17rem; } }

@media only screen and (max-width: 425px) {
  .social {
    height: 10rem;
    align-content: center;
    flex-direction: column; } }
