<footer class="text-footer">
        <div class="footer-area">
  <nav class="footer-nav">
    <li>
      <a id="home" href="/#home-spectrum">
        <ul class="home">Home</ul>
      </a>
    </li>
    <li>
      <a id="projects" href="/#project-spectrum">
        <ul class="proj">Projects</ul>
      </a>
    </li>
    <li>
      <a id="about" href="/#about-spectrum">
        <ul class="about">About</ul>
      </a>
    </li>
    <li>
      <a id="contact" href="/#contact-spectrum">
        <ul class="cont">Contact</ul>
      </a>
    </li>
    <li>
      <a target="_blank" id="blog" href="http://127.0.0.1:4000/">
        <ul class="blog">Blog</ul>
      </a>
    </li>
  </nav>
</div>
<div class="social">
    <div class="social1-gh">
      <a target="_blank" href="https://github.com/kapena" class="github-link">
        <img class="github" src="https://s3-us-west-2.amazonaws.com/efolio/footer/github.svg" alt="github">
        </>
      </a>
    </div>

<div class="social5-behance">
  <a target="_blank" href="https://www.behance.net/brentw" class="behance-link">
    <img class="behance" src="https://s3-us-west-2.amazonaws.com/efolio/footer/behance.svg" alt="behance">
    </>
  </a>
</div>

    <div class="social3-in">
      <a target="_blank" href="https://www.linkedin.com/in/brent-white-2ab55652" class="linked-in">
        <img class="linkedin" src="https://s3-us-west-2.amazonaws.com/efolio/footer/linkedin.svg" alt="">
        </>
      </a>
    </div>
    <div class="social4-twitter">
      <a target="_blank" href="https://twitter.com/brentm_w" class="tweet">
        <img class="twitter" src="https://s3-us-west-2.amazonaws.com/efolio/footer/twitter.svg" alt="">
        </>
      </a>
  </div>
  </div>
  <div class="bottom">
      <span class="exit"><small>
        Hand made in Hawaii by Brent White - 2017</small></span>
    </div>
</footer>
