<a name="home-spectrum"></a>
  <main class="welcome">
      <header>
          <svg class='intro' viewBox='0 0 100 24'>
              <text>
                  <tspan class='aloha' fill="url(#tropics)" x='17' dy='21' fill='black'>ReadMe</tspan>
              </text>
          </svg>
          <div class="intro-block">
          <div class="titleName">
              <h3 class="name">A blog by</h3>
              <h3 class="title">Brent White</h3>
          </div>
              <a name="home-spectrum"></a>
              <nav class="main" role="navigation">
                  <p class="intro-msg">You've reached my digital story collection. I'll do my best to release one quartlery post per month. In between posts have a look at some of <a id="projects" href="#project-spectrum">my work.</a></nav>
              <!-- <a id="projects" href="#project-spectrum">projects</a>, read about my <a id="bio" href="#about-spectrum">mission </a> and get in <a id="chat" href="#contact-spectrum">touch</a>  regarding design, or anything of interest.</p> -->
            </div>
              <svg viewBox='0 0 400 20'>
                      <defs>
                          <linearGradient id="tropics">
                              <stop stop-color="royalblue" offset='0%' />
                              <stop stop-color="steelblue" offset='45%' />
                              <stop stop-color="darkviolet" offset="100%" />
                          </linearGradient>
                      </defs>
                      <!-- <rect x='50' y='10' width='300' height='0.3px' fill='url(#tropics)' /> -->
                  </svg>
          </header>
    </main>
