<head>
    <meta charset="UTF-8">
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/blog_post_main.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/press-start-2p" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="https://s3-us-west-2.amazonaws.com/efolio/favs/main/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="https://s3-us-west-2.amazonaws.com/efolio/favs/main/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://s3-us-west-2.amazonaws.com/efolio/favs/main/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="https://s3-us-west-2.amazonaws.com/efolio/favs/main/manifest.json">
    <link rel="mask-icon" href="https://s3-us-west-2.amazonaws.com/efolio/favs/main/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Brent White">
    <meta name="application-name" content="Brent White">
    <meta name="theme-color" content="#ffffff">
</head>
