/* Padding mixin for links inside paragraph*/
@mixin left-right-bottom-links($left-right:2px, $bottom:1px){
    padding-left: $left-right;
    padding-right: $left-right;
    padding-bottom:$bottom;
}
