/* Padding mixin for links inside paragraph*/
@mixin left-right-bottom-links($left-right:2px, $bottom:1px){
    padding-left: $left-right;
    padding-right: $left-right;
    padding-bottom:$bottom;
}

/* Pushing intro-msg margins in closer */
@mixin left-right-margin($margins:10%){
    margin-left:$margins;
    margin-right:$margins;
}


$phoneHome:400px;
// 440 px
$tabletHome:630px;

// Home page tablet layout
@mixin tablet {
    @media (max-width: #{$tabletHome}){
        @content;
    }
}

@mixin phone {
    @media (max-width:#{$phoneHome}){
        @content;
    }
}

$circlesTablet:755px;
@mixin circles-tablet-display {
    @media screen and (min-width: #{$circlesTablet}){
        @content;
    }
}

$circles-medium-Desktop:835px;
@mixin circles-med-desktop-display {
    @media screen and (min-width: #{$circles-medium-Desktop}){
        @content;
    }
}

$circles-large-Desktop:1100px;
@mixin circles-large-desktop-display {
    @media screen and (min-width: #{$circles-large-Desktop}){
        @content;
    }
}

$circles-xl-large-Desktop:1530px;
@mixin circles-xl-desktop-display {
    @media screen and (min-width: #{$circles-xl-large-Desktop}){
        @content;
    }
}
