
@mixin on_box_top{
    position: absolute;
    top:210px;
    margin:$img-spaceing;
    width:450px;
    height:140px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin on_box_bottom {
    position: absolute;
    bottom: 3px;
    margin:$img-spaceing;
    width:450px;
    height:140px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
