// media queries
@mixin mobile_device {
    @media only screen and (max-width:#{$mobile}){
        @content;
    }
}

@mixin mobile {
    @media only screen and (max-width:#{$mobile}){
        @content;
    }
}

// project-page height-tablet 975px
@mixin proj_imgs-stack-mobile {
    @media only screen and (max-width:#{$proj-img-stacked-mobile}){
        @content;
    }
}

@mixin bio-border-fullwidth {
    @media only screen and (max-width:#{$bio-border-1000px}){
        @content;
    }
}

@mixin desktop-sm {
    @media only screen and (max-width:#{$p920}){
        @content;
    }
}

@mixin desktop-md {
    @media only screen and (max-width:#{$p980}){
        @content;
    }
}

@mixin small-tablet {
    @media only screen and (max-width:#{$tablet}){
        @content;
    }
}

@mixin lrg-mobile {
    @media only screen and (max-width:#{$p523}){
        @content;
    }
}

@mixin md-mobile {
    @media only screen and (max-width:#{$p425}){
        @content;
    }
}

@mixin sm-mobile {
    @media only screen and (max-width:#{$p385}){
        @content;
    }
}

@mixin xs-mobile {
    @media only screen and (max-width:#{$p321}){
        @content;
    }
}

@mixin sm-tablet {
    @media only screen and (max-width:#{$p680}){
        @content;
    }
}

@mixin md-tablet {
    @media only screen and (max-width:#{$p850}){
        @content;
    }
}


@mixin tablet {
    @media only screen and (max-width:#{$tablet-2}){
        @content;
    }
}


@mixin desktop {
    @media only screen and (min-width:#{$desktop}){
        @content;
    }
}

@mixin lrg-desktop {
    @media only screen and (min-width:#{$desktop-lrg}){
        @content;
    }
}

@mixin xl-desktop {
    @media only screen and (min-width:#{$desktop-xl}){
        @content;
    }
}

@mixin xxl-desktop {
    @media only screen and (min-width:#{$desktop-xxl}){
        @content;
    }
}

@mixin utra-xl-desktop {
    @media only screen and (min-width:#{$desktop-xxxl}){
        @content;
    }
}


// @2x images
@mixin image-2x ($image,$width,$height) {
    @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx){
         background-image:url($image);
         background-size: $width $height;
     }
}
