/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,900i");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
@import url("https://fonts.googleapis.com/css?family=Lora:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
figure,
footer,
header,
nav,
section {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

/**
 * Address styling not present in Safari and Chrome.
 */

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/**
 * Address differences between Firefox and other browsers.
 */

/**
 * Contain overflow in all browsers.
 */

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */

/**
 * Re-set default cursor for disabled elements.
 */

/**
 * Remove inner padding and border in Firefox 4+.
 */

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

/**
 * Define consistent border, margin, and padding.
 */

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */

/**** Google Fonts ****/
/* Lato Variables */
/* Base Size */
/**** Responsive Scales ****/
p {
  font-family: "Lato", "serif";
  color: #423F3F;
  line-height: 1.5em; }

h1, h2 {
  font-family: "Montserrat", sans-serif;
  color: #423F3F; }

/* Here I import all my modules into the home-module */
/* Padding mixin for links inside paragraph*/
/* Pushing intro-msg margins in closer */
/* Modular Scale */
/* Colors project pages */
/* halfCircle path colors indiv project pages */
/* Rectangle colors for devices small and large */
/* borders */
body {
  overflow-x: hidden;
  overflow-y: scroll;
  overflow-y: scroll;
  /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  background-color: whitesmoke; }

html {
  width: 100%;
  height: 100%; }

.proj-n {
  text-align: center;
  font-size: 1.4641em; }
  @media (min-width: 10em) and (max-width: 20em) {
    .proj-n {
      font-size: calc( 1.4641em + 0.7658 * ( ( 100vw - 10em) / 10 )); } }
  @media (min-width: 20em) {
    .proj-n {
      font-size: 2.2299em; } }

.header-img {
  width: 100%;
  height: 100%; }

.project-introduction {
  padding: 50px 100px 90px; }
  @media only screen and (max-width: 523px) {
    .project-introduction {
      padding: 1rem; } }

.media {
  text-align: center;
  display: block;
  padding-bottom: 5px;
  bottom: 15px;
  position: relative;
  width: 80%;
  margin: auto;
  margin-top: 5px;
  bottom: 30px;
  padding: 2rem 0rem 2rem;
  text-align: center;
  border-bottom: 2px solid #474747;
  font-family: "Montserrat", sans-serif;
  font-size: 1.21em; }
  @media (min-width: 10em) and (max-width: 20em) {
    .media {
      font-size: calc( 1.21em + 0.28328 * ( ( 100vw - 10em) / 10 )); } }
  @media (min-width: 20em) {
    .media {
      font-size: 1.49328em; } }

.project-desc {
  font-size: 1.21em;
  position: relative;
  width: 80%;
  margin: auto;
  margin-top: 5px;
  bottom: 30px;
  padding: 2rem 0rem 2rem;
  border-bottom: 2px solid #474747;
  text-align: center; }
  @media (min-width: 10em) and (max-width: 20em) {
    .project-desc {
      font-size: calc( 1.21em + 0.28328 * ( ( 100vw - 10em) / 10 )); } }
  @media (min-width: 20em) {
    .project-desc {
      font-size: 1.49328em; } }

#hip {
  font-family: "Montserrat", sans-serif !important;
  color: #333333;
  padding: 2px;
  font-weight: 900;
  margin: 0 -2px; }

#hip {
  border: none;
  border-bottom: 2px solid royalblue;
  background: -webkit-linear-gradient(cyan, cyan) no-repeat bottom;
  background: -o-linear-gradient(cyan, cyan) no-repeat bottom;
  background: linear-gradient(cyan, cyan) no-repeat bottom;
  background-size: 100% 1px;
  transition: .2s,color .1s .1s;
  text-decoration: none; }

#hip:hover {
  background-size: 100% 100%; }

.main-image {
  width: 100%; }
  .main-image .story-seq {
    width: 100%;
    margin: auto;
    display: block;
    max-width: 1000px; }

.break-wrapper {
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
  margin: 50px;
  text-align: center; }

.box_1, .box_2 {
  position: absolute;
  margin: 5px;
  margin-left: 15px;
  width: 450px;
  height: 350px;
  background-color: red;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(246, 51, 92, 0.8);
  box-shadow: 0 7px 0 #F6B8C0;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
  height: 325px; }

.box_1, .box_2, .box_2 {
  top: 0px; }

:hover.box_1, .box_2:hover {
  opacity: 0.9; }

@media only screen and (max-width: 780px) {
  .box_1, .box_2 {
    width: 0px; } }

.discript1, .discript2 {
  font-size: 1.61803em;
  opacity: 1;
  margin-top: 250px;
  color: white; }

.more-projects {
  font-size: 1.331em;
  text-align: center;
  margin: 0px;
  padding-bottom: 2rem;
  position: relative; }
  @media (min-width: 10em) and (max-width: 20em) {
    .more-projects {
      font-size: calc( 1.331em + 0.49379 * ( ( 100vw - 10em) / 10 )); } }
  @media (min-width: 20em) {
    .more-projects {
      font-size: 1.82479em; } }

.project-wrapper {
  height: 100%; }
  .project-wrapper .other-projects {
    width: 250px; }

.proj-container {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center; }
  @media only screen and (max-width: 780px) {
    .proj-container {
      -webkit-box-lines: multiple;
      -moz-box-lines: multiple;
      box-lines: multiple;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.link {
  font-family: "Montserrat", sans-serif;
  fill: #333333;
  -webkit-transition: fill 0.2s;
  -moz-transition: fill 0.2s;
  transition: fill 0.2s;
  font-size: 1.2em;
  font-weight: 700; }

.other-projects:hover .halfRect1 {
  fill: whitesmoke;
  -webkit-transition: fill 0.2s;
  -moz-transition: fill 0.2s;
  transition: fill 0.2s; }

/* Modular Scale */
/* Colors project pages */
/* halfCircle path colors indiv project pages */
/* Rectangle colors for devices small and large */
/* borders */
footer {
  background-color: #e0e0e0; }

li {
  list-style: none; }

#home, #projects, #about, #contact {
  text-decoration: none; }

.footer-area {
  display: flex;
  width: 100%;
  margin-top: 7rem;
  position: relative; }

.footer-nav {
  position: relative;
  padding: 2rem 0rem 2rem;
  width: 100%;
  height: 100%;
  background-color: #e0e0e0;
  flex-wrap: wrap;
  display: inline-flex;
  justify-content: center; }

.home, .projects-link, .about, .contact-link, .about {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  padding: 0rem 1rem 0rem;
  text-decoration: none; }

.home:hover, .projects-link:hover, .about:hover, .contact-link:hover {
  color: blue; }

.home, .projects-link, .about, .contact-link {
  color: black;
  font-weight: 900; }

.home, .projects-link, .about, .contact-link {
  padding: 0rem 1rem 0rem;
  text-decoration: none; }

.social {
  display: inline-flex;
  background: #e0e0e0;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  height: 5rem;
  justify-content: center; }

.social1-gh, .social3-in, .social4-twitter, .social5-behance {
  font-family: "Montserrat", sans-serif;
  position: relative;
  padding-top: 1rem; }

.github, .linkedin, .twitter, .behance {
  display: block;
  overflow: hidden;
  border-radius: 50%;
  width: 45px;
  padding: 0rem 1rem 0rem;
  position: relative; }

.bottom {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  background-color: #e0e0e0;
  position: relative;
  height: 25px;
  bottom: 4px; }

@media only screen and (max-width: 425px) {
  .footer-nav {
    padding-top: 10px;
    align-items: center;
    flex-direction: column;
    height: 17rem; } }

@media only screen and (max-width: 425px) {
  .social {
    height: 10rem;
    align-content: center;
    flex-direction: column; } }

.other-projects:hover .link {
  fill: black; }

li {
  list-style: none; }
