/* Home  Pg*/
/*  Home-Page Module Mixins and Extends */
/* Here I import all my modules into the home-module */
/* Padding mixin for links inside paragraph*/
/* Pushing intro-msg margins in closer */
/* Gobal Variables */
/* Modular Scale */
/* Colors project pages */
/* halfCircle path colors indiv project pages */
/* Rectangle colors for devices small and large */
/* borders */
/**** Google Fonts ****/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,900i");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
/* Lato Variables */
@import url("https://fonts.googleapis.com/css?family=Lora:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
/* Base Size */
/**** Responsive Scales ****/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,900i");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
@import url("https://fonts.googleapis.com/css?family=Lora:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,900i");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
@import url("https://fonts.googleapis.com/css?family=Lora:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,900i");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
@import url("https://fonts.googleapis.com/css?family=Lora:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,900i");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
@import url("https://fonts.googleapis.com/css?family=Lora:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,900i");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
@import url("https://fonts.googleapis.com/css?family=Lora:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,900i");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
@import url("https://fonts.googleapis.com/css?family=Lora:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,900i");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
@import url("https://fonts.googleapis.com/css?family=Lora:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,900i");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
@import url("https://fonts.googleapis.com/css?family=Lora:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,900i");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
@import url("https://fonts.googleapis.com/css?family=Lora:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
p {
  font-family: "Lato", "serif";
  color: #423F3F;
  line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  color: #423F3F; }

html {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden; }

body {
  min-height: 100%;
  background-color: whitesmoke; }

header {
  padding-top: 30px;
  bottom: 100px;
  top: 30px; }

.aloha {
  font-family: "Montserrat", sans-serif;
  font-weight: 600; }

.intro-block {
  margin-bottom: 2rem;
  margin-top: 2rem; }

.titleName {
  margin-bottom: 2rem;
  text-align: center; }

.name, .title {
  color: #333333;
  font-weight: "" 800;
  font-family: "Montserrat", sans-serif;
  font-size: 1.21em;
  margin: 0rem; }
  @media (min-width: 15em) and (max-width: 60em) {
    .name, .title {
      font-size: calc( 1.21em + 0.56689 * ( ( 100vw - 15em) / 45 )); } }
  @media (min-width: 60em) {
    .name, .title {
      font-size: 1.77689em; } }

.title {
  bottom: 2rem;
  font-weight: 400; }

.intro-msg {
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 1px;
  margin: 0% 8% 0%;
  font-size: 1.21em;
  text-align: center;
  line-height: 1.61803em; }
  @media (min-width: 15em) and (max-width: 60em) {
    .intro-msg {
      font-size: calc( 1.21em + 0.56689 * ( ( 100vw - 15em) / 45 )); } }
  @media (min-width: 60em) {
    .intro-msg {
      font-size: 1.77689em; } }

.main {
  padding: 1rem 0rem 1rem; }

.built {
  margin: 0% 8% 0%;
  padding: 1rem 0rem 1rem;
  text-align: center;
  font-size: 1em; }
  @media (min-width: 15em) and (max-width: 60em) {
    .built {
      font-size: calc( 1em + 0 * ( ( 100vw - 15em) / 45 )); } }
  @media (min-width: 60em) {
    .built {
      font-size: 1em; } }

header #projects:hover, header #chat:hover, header #bio:hover, header #getintouch:hover, header .email:hover, header .point-p:hover,
header #projects:focus, header #chat:focus, header #bio:focus, header #getintouch:focus, header .email:focus, header .point-p:focus {
  color: blue; }

header #projects, header #chat, header #bio, header #getintouch, header .email, header .point-p, header .pre-footer #chat, .pre-footer header #chat, header .pre-footer #bio, .pre-footer header #bio {
  color: #333333;
  padding: 2px;
  font-weight: 900;
  margin: 0 -2px; }

header #projects, header #chat, header #bio, header #getintouch, header .email, header .point-p, header .pre-footer #chat, .pre-footer header #chat, header .pre-footer #bio, .pre-footer header #bio {
  border: none;
  border-bottom: 2px solid royalblue;
  background: -webkit-linear-gradient(cyan, cyan) no-repeat bottom;
  background: -o-linear-gradient(cyan, cyan) no-repeat bottom;
  background: linear-gradient(cyan, cyan) no-repeat bottom;
  background-size: 100% 1px;
  transition: .2s,color .1s .1s;
  text-decoration: none; }

header #projects:hover, header #chat:hover, header #bio:hover, header #getintouch:hover, header .email:hover, header .point-p:hover {
  background-size: 100% 100%; }

.skills {
  position: relative;
  bottom: 2em; }

.tools {
  display: flex;
  justify-content: center; }

#skills-graphic {
  height: 300px; }

.graphic-text {
  font-family: "Montserrat", sans-serif;
  font-weight: "" 800;
  color: #423F3F;
  font-size: 0.82645em; }
  @media (min-width: 15em) and (max-width: 60em) {
    .graphic-text {
      font-size: calc( 0.82645em + -0.26366 * ( ( 100vw - 15em) / 45 )); } }
  @media (min-width: 60em) {
    .graphic-text {
      font-size: 0.56278em; } }

.graph, .web, .motion {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75131em; }
  @media (min-width: 15em) and (max-width: 60em) {
    .graph, .web, .motion {
      font-size: calc( 0.75131em + -0.32912 * ( ( 100vw - 15em) / 45 )); } }
  @media (min-width: 60em) {
    .graph, .web, .motion {
      font-size: 0.42219em; } }

.under {
  transition: transform 0.3s; }

.moveUp {
  transition: transform 0.3s;
  transform: translateY(-20px); }

.gC, .gT {
  transition: transform 0.3s;
  transform: translateY(0px); }

.playGc {
  transition: transform 0.3s;
  transform: translateY(10px); }

.playGt {
  transition: transform 0.3s;
  transform: translateY(-10px); }

.wN, .wF {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  font-size: 100px; }

.playwN, .playwF {
  transition: 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 60px; }

.p1, .img, .p2 {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  font-size: 100px; }

.playP1, .playImg, .playP2 {
  transition: 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 60px; }

.elements {
  transition: transform 0.5s;
  transform: translateX(0px); }

.move-L {
  transition: transform 0.5s;
  transform: translateX(10px); }

.play {
  transition: transform 0.5s;
  transform: translateX(0px); }

.frame {
  transition: transform 0.5s;
  transform: skew(0deg, 0deg); }

.skewFrame {
  transition: transform 0.5s;
  transform: skew(13deg, 0deg); }

.movePlay {
  transition: transform 0.5s;
  transform: translateX(-34px); }

.tools {
  text-align: center;
  font-size: 1.1em; }
  @media (min-width: 15em) and (max-width: 60em) {
    .tools {
      font-size: calc( 1.1em + 0.233 * ( ( 100vw - 15em) / 45 )); } }
  @media (min-width: 60em) {
    .tools {
      font-size: 1.333em; } }

@media only screen and (max-width: 1030px) {
  .under, .skill {
    visibility: hidden; } }

@media only screen and (max-width: 1030px) {
  #skills-graphic {
    height: 250px; } }

@media only screen and (max-width: 425px) {
  #skills-graphic {
    height: 200px; } }

@media only screen and (max-width: 850px) {
  .graph, .web, .digital-d {
    visibility: hidden;
    font-family: "Montserrat", sans-serif; } }

/* @import "partials/home/nav"; */
/* Projects  Pg */
/* Here I import all my modules into the home-module */
/* Padding mixin for links inside paragraph*/
/* Pushing intro-msg margins in closer */
/* Modular Scale */
/* Colors project pages */
/* halfCircle path colors indiv project pages */
/* Rectangle colors for devices small and large */
/* borders */
/**** Google Fonts ****/
/* Lato Variables */
/* Base Size */
/**** Responsive Scales ****/
p {
  font-family: "Lato", "serif";
  color: #423F3F;
  line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  color: #423F3F; }

figure {
  margin: -2px; }

.proj-headings {
  position: relative;
  top: 408px; }

.project-heading {
  text-align: center;
  position: relative;
  font-weight: "" 800;
  font-family: "Montserrat", sans-serif;
  color: #423F3F;
  font-size: 1.4641em; }
  @media (min-width: 15em) and (max-width: 60em) {
    .project-heading {
      font-size: calc( 1.4641em + 1.69323 * ( ( 100vw - 15em) / 45 )); } }
  @media (min-width: 60em) {
    .project-heading {
      font-size: 3.15733em; } }

.project-discript {
  text-align: center;
  position: relative;
  font-weight: "" 800;
  font-family: "Montserrat", sans-serif;
  color: #423F3F;
  font-size: 1.4641em;
  font-size: 1.1em; }
  @media (min-width: 15em) and (max-width: 60em) {
    .project-discript {
      font-size: calc( 1.4641em + 1.69323 * ( ( 100vw - 15em) / 45 )); } }
  @media (min-width: 60em) {
    .project-discript {
      font-size: 3.15733em; } }
  @media (min-width: 15em) and (max-width: 60em) {
    .project-discript {
      font-size: calc( 1.1em + 0.233 * ( ( 100vw - 15em) / 45 )); } }
  @media (min-width: 60em) {
    .project-discript {
      font-size: 1.333em; } }

.line_under, .line_above {
  width: 100%;
  position: relative;
  top: 410px; }

.pfolio {
  letter-spacing: 1px;
  text-align: center;
  position: relative;
  font-weight: "" 800;
  font-family: "Montserrat", sans-serif;
  color: #423F3F;
  font-size: 1.4641em; }
  @media (min-width: 15em) and (max-width: 60em) {
    .pfolio {
      font-size: calc( 1.4641em + 1.69323 * ( ( 100vw - 15em) / 45 )); } }
  @media (min-width: 60em) {
    .pfolio {
      font-size: 3.15733em; } }

.proj-container {
  margin: 4rem 1rem 4rem;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; }

.projects {
  position: relative;
  flex-direction: row;
  max-height: 100%;
  width: 314px;
  height: 270px; }

.border {
  fill: none;
  stroke: url("#spect");
  stroke-width: 11px; }

.link-mobile {
  font-family: "Montserrat", sans-serif;
  fill: #383838;
  font-size: 1.5em;
  visibility: hidden;
  font-weight: 900; }

.cat {
  font-weight: "" 800;
  font-size: 1.2em; }

@media only screen and (max-width: 850px) {
  .link-mobile {
    visibility: visible; } }

.link {
  font-family: "Montserrat", sans-serif;
  fill: #383838;
  font-size: 1.3em;
  font-weight: 900; }

.s-d, .p-p, .r, .u-r, .p-d {
  transform: translateY(-12px); }

.viewtext {
  font-size: 1.2em;
  font-family: "Montserrat", sans-serif; }

#getintouch:hover,
#getintouch:focus {
  color: blue; }

#getintouch:hover {
  background-size: 100% 100%; }

#getintouch {
  font-family: "Montserrat", sans-serif;
  font-weight: "" 800;
  border: none;
  border-bottom: 2px solid royalblue;
  background: -webkit-linear-gradient(cyan, cyan) no-repeat bottom;
  background: -o-linear-gradient(cyan, cyan) no-repeat bottom;
  background: linear-gradient(cyan, cyan) no-repeat bottom;
  background-size: 100% 1px;
  transition: .2s,color .1s .1s;
  text-decoration: none;
  font-size: 1.1em;
  color: #333333;
  padding: 5px 2rem 5px;
  position: relative;
  bottom: 2rem; }
  @media (min-width: 15em) and (max-width: 60em) {
    #getintouch {
      font-size: calc( 1.1em + 0.233 * ( ( 100vw - 15em) / 45 )); } }
  @media (min-width: 60em) {
    #getintouch {
      font-size: 1.333em; } }

.skill {
  font-size: 0.75131em; }
  @media (min-width: 15em) and (max-width: 60em) {
    .skill {
      font-size: calc( 0.75131em + -0.32912 * ( ( 100vw - 15em) / 45 )); } }
  @media (min-width: 60em) {
    .skill {
      font-size: 0.42219em; } }

.view-device {
  opacity: 0; }

@media only screen and (max-width: 850px) {
  .view-device {
    opacity: 1; } }

@media only screen and (max-width: 1021px) {
  .proj-container {
    margin: 4rem 1rem; } }

@media only screen and (max-width: 425px) {
  .proj-container {
    margin: 2rem 1rem; } }

@media only screen and (max-width: 1030px) {
  #project-name {
    transform: translateY(-21px); } }

@media only screen and (min-width: 1270px) {
  .proj-container {
    padding: 0rem 5rem; } }

@media only screen and (min-width: 1425px) {
  .proj-container {
    padding: 0rem 10rem; } }

@media only screen and (min-width: 1575px) {
  .proj-container {
    padding: 0rem 15rem; } }

@media only screen and (min-width: 1756px) {
  .proj-container {
    padding: 0rem 20rem; } }

@media only screen and (max-width: 1030px) {
  .projects {
    height: 217px;
    width: 254px; } }

@media only screen and (max-width: 980px) {
  .projects {
    width: 246px;
    height: 210px; } }

@media only screen and (max-width: 850px) {
  .projects {
    width: 217px;
    height: 184px; } }

@media only screen and (max-width: 780px) {
  .projects {
    height: 169px;
    width: 200px; } }

@media only screen and (max-width: 680px) {
  .projects {
    height: 146px;
    width: 174px; } }

@media only screen and (max-width: 523px) {
  .projects {
    width: 137px;
    height: 115px; } }

@media only screen and (max-width: 425px) {
  .projects {
    width: 109px;
    height: 91px; } }

@media only screen and (max-width: 385px) {
  .projects {
    width: 109px;
    height: 90px; } }

@media only screen and (max-width: 385px) {
  .projects {
    width: 200px;
    height: 200px; } }

/* Modular Scale */
/* Colors project pages */
/* halfCircle path colors indiv project pages */
/* Rectangle colors for devices small and large */
/* borders */
.btm-rect-dreaming {
  fill: silver;
  opacity: 0.96; }

.btm-rect-point {
  fill: silver;
  opacity: 0.96; }

.btm-rect-radiate {
  fill: silver;
  opacity: 0.96; }

.btm-rect-urban {
  fill: silver;
  opacity: 0.96; }

.btm-rect-print {
  fill: silver;
  opacity: 0.96; }

.btm-rect-royal {
  fill: silver;
  opacity: 0.96; }

/* Modular Scale */
/* Colors project pages */
/* halfCircle path colors indiv project pages */
/* Rectangle colors for devices small and large */
/* borders */
.halfRect1 {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 1s, opacity 1s;
  -moz-transition: visibility 1s, opacity 1s;
  transition: visibility 1s, opacity 1s; }

.projects:hover .fullRect {
  visibility: visible;
  opacity: 0.85;
  -webkit-transition: visibility 1s, opacity 1s;
  -moz-transition: visibility 1s, opacity 1s;
  transition: visibility 1s, opacity 1s;
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s; }

.fullRect {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 1s, opacity 1s;
  -moz-transition: visibility 1s, opacity 1s;
  transition: visibility 1s, opacity 1s; }

.projects:hover #view {
  -webkit-transition: -webkit-transform;
  -moz-transition: -moz-transform;
  transition: transform;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
  transform: translateY(-135px); }

#view {
  -webkit-transition: -webkit-transform;
  -moz-transition: -moz-transform;
  transition: transform;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  transition-duration: 0.7s;
  transform: translateY(100px); }

#project-name {
  -webkit-transition: -webkit-transform;
  -moz-transition: -moz-transform;
  transition: transform;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
  transform: translateY(-1px); }

.projects:hover #project-name {
  -webkit-transition: -webkit-transform;
  -moz-transition: -moz-transform;
  transition: transform;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
  transform: translateY(35px); }

.projects:hover .link {
  fill: black; }

@media only screen and (max-width: 850px) {
  .link {
    visibility: hidden; } }

@media only screen and (max-width: 850px) {
  .halfRect1 {
    opacity: 0.9;
    visibility: visible; } }

@media only screen and (max-width: 850px) {
  .fullRect {
    display: none; } }

@media only screen and (max-width: 850px) {
  .link-mobile {
    visibility: visible; } }

/* Bio  Pg */
/* Modular Scale */
/* Colors project pages */
/* halfCircle path colors indiv project pages */
/* Rectangle colors for devices small and large */
/* borders */
/* Here I import all my modules into the home-module */
/* Padding mixin for links inside paragraph*/
/* Pushing intro-msg margins in closer */
/**** Google Fonts ****/
/* Lato Variables */
/* Base Size */
/**** Responsive Scales ****/
p {
  font-family: "Lato", "serif";
  color: #423F3F;
  line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  color: #423F3F; }

.about-short-disc {
  font-size: 1.1em;
  margin: 0% 8% 0%;
  line-height: 1.61803em;
  position: relative;
  text-align: center; }
  @media (min-width: 15em) and (max-width: 60em) {
    .about-short-disc {
      font-size: calc( 1.1em + 0.233 * ( ( 100vw - 15em) / 45 )); } }
  @media (min-width: 60em) {
    .about-short-disc {
      font-size: 1.333em; } }

.about-info {
  display: flex;
  margin: 3em 4em 4em;
  flex-direction: row; }

.simple {
  position: relative;
  top: 3em; }

.col-left, .col-right {
  flex-grow: 1;
  width: 10em;
  height: 100%; }

.process {
  margin-top: 2em; }

.graph-serv {
  display: flex;
  justify-content: center; }

.service {
  width: 600px;
  height: 200px;
  margin: 3em 0em 3em; }

.graphic-text2 {
  font-family: "Montserrat", sans-serif; }

.slideDown {
  transition: transform 0.8s;
  transform: translateY(8px); }

.slideUp {
  transition: transform 0.4s;
  fill: royalblue;
  transform: translateY(-81px); }

#inspires {
  text-align: center;
  font-size: 1.331em;
  font-weight: 800; }
  @media (min-width: 15em) and (max-width: 60em) {
    #inspires {
      font-size: calc( 1.331em + 1.03759 * ( ( 100vw - 15em) / 45 )); } }
  @media (min-width: 60em) {
    #inspires {
      font-size: 2.36859em; } }

.proj-enq {
  margin-top: 7em;
  margin-bottom: 4em; }

.idea {
  display: flex;
  margin: 3em 0em;
  justify-content: center; }

.tell:hover,
.tell:focus {
  color: blue; }

.tell {
  font-family: "Montserrat", sans-serif !important;
  color: #333333;
  padding: 2px;
  font-weight: 900;
  margin: 0 -2px; }

.tell {
  border: none;
  border-bottom: 2px solid royalblue;
  background: -webkit-linear-gradient(cyan, cyan) no-repeat bottom;
  background: -o-linear-gradient(cyan, cyan) no-repeat bottom;
  background: linear-gradient(cyan, cyan) no-repeat bottom;
  background-size: 100% 1px;
  transition: .2s,color .1s .1s;
  text-decoration: none; }

.tell:hover {
  background-size: 100% 100%; }

@media only screen and (max-width: 1030px) {
  .about-short-disc {
    padding: 1rem 1rem;
    margin: 3% 0% 3%; } }

@media only screen and (max-width: 1030px) {
  .proj-enq {
    margin: 0; } }

@media only screen and (max-width: 680px) {
  .about-info {
    flex-direction: column; } }

@media only screen and (max-width: 680px) {
  .service {
    height: 150px;
    margin: 2em 0em; } }

@media only screen and (max-width: 680px) {
  .col-left, .col-right {
    width: 100%; } }

/* Conract  Pg */
/* Modular Scale */
/* Colors project pages */
/* halfCircle path colors indiv project pages */
/* Rectangle colors for devices small and large */
/* borders */
/**** Google Fonts ****/
/* Lato Variables */
/* Base Size */
/**** Responsive Scales ****/
p {
  font-family: "Lato", "serif";
  color: #423F3F;
  line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  color: #423F3F; }

.contact-p-head {
  text-align: center;
  margin: 2rem; }

.contact-page {
  position: relative;
  top: 2rem; }

.backtop {
  top: 1rem; }

.message-to-user {
  height: 0px; }

.contact-form {
  margin-top: 6rem;
  display: flex;
  -webkit-transition: height, 0.8s;
  -moz-transition: height, 0.8s;
  transition: height, 0.8s;
  justify-content: center;
  position: relative; }

#field-set {
  border: none;
  width: 55em;
  -webkit-transition: width, 0.8s;
  -moz-transition: width, 0.8s;
  transition: width, 0.8s;
  padding-top: 20px; }

form input {
  width: 80%; }

.clientName_clientMail {
  display: inline-flex;
  position: relative;
  top: 50px;
  width: 100%;
  justify-content: space-around; }

.your-name {
  bottom: 16px;
  border-top: none;
  font-weight: "" 800;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em;
  border-bottom: 1px solid #00f;
  margin-left: 20px;
  position: relative;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 5px;
  margin-left: 25px; }
  @media (min-width: 15em) and (max-width: 60em) {
    .your-name {
      font-size: calc( 1.1em + 0.233 * ( ( 100vw - 15em) / 45 )); } }
  @media (min-width: 60em) {
    .your-name {
      font-size: 1.333em; } }

.your-email {
  font-weight: "" 800;
  bottom: 16px;
  padding-right: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em;
  border-bottom: 1px solid #00f;
  margin-left: 20px;
  position: relative;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 5px;
  margin-left: 25px; }
  @media (min-width: 15em) and (max-width: 60em) {
    .your-email {
      font-size: calc( 1.1em + 0.233 * ( ( 100vw - 15em) / 45 )); } }
  @media (min-width: 60em) {
    .your-email {
      font-size: 1.333em; } }

#f-email, #f-name {
  margin-right: 50px; }

.message {
  top: 16px;
  border-bottom: none;
  font-weight: "" 800;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em;
  border-bottom: 1px solid #00f;
  margin-left: 20px;
  position: relative;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 5px;
  margin-left: 25px; }
  @media (min-width: 15em) and (max-width: 60em) {
    .message {
      font-size: calc( 1.1em + 0.233 * ( ( 100vw - 15em) / 45 )); } }
  @media (min-width: 60em) {
    .message {
      font-size: 1.333em; } }

.your-name-area, .your-email-area, .your-msg {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  padding-left: 10px;
  width: 100%;
  height: 35px;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  position: relative;
  -webkit-transition: border-radius 0.8s ease;
  -moz-transition: border-radius 0.8s ease;
  transition: border-radius 0.8s ease;
  background-color: #fcfcfc;
  border: 1px solid #00f; }
  @media (min-width: 15em) and (max-width: 60em) {
    .your-name-area, .your-email-area, .your-msg {
      font-size: calc( 1em + 0 * ( ( 100vw - 15em) / 45 )); } }
  @media (min-width: 60em) {
    .your-name-area, .your-email-area, .your-msg {
      font-size: 1em; } }

.your-email-area {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  padding-left: 10px;
  width: 100%;
  height: 35px;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  position: relative;
  -webkit-transition: border-radius 0.8s ease;
  -moz-transition: border-radius 0.8s ease;
  transition: border-radius 0.8s ease;
  background-color: #fcfcfc;
  border: 1px solid #00f; }
  @media (min-width: 15em) and (max-width: 60em) {
    .your-email-area {
      font-size: calc( 1em + 0 * ( ( 100vw - 15em) / 45 )); } }
  @media (min-width: 60em) {
    .your-email-area {
      font-size: 1em; } }

#space {
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
  left: 26px; }

.your-msg {
  width: 100%;
  height: 5rem;
  padding-top: 15px;
  top: 25px; }

.your-name-area:focus, .your-email-area:focus, .your-msg:focus {
  outline: none;
  -webkit-transition: border-radius 0.3s ease;
  -moz-transition: border-radius 0.3s ease;
  transition: border-radius 0.3s ease;
  border-radius: 8px;
  border: 1px solid #b871f7;
  box-shadow: 0px 0px 4px #b871f7; }

.clientMsg {
  overflow: visible !important;
  position: relative;
  top: 80px; }

#submit-form {
  position: relative;
  top: 115px;
  left: 20px;
  width: 150px;
  height: 40px; }

@media only screen and (max-width: 1030px) {
  .contact-form {
    margin: 0rem; } }

@media only screen and (max-width: 780px) {
  .contact-form {
    margin: 0rem; } }

@media only screen and (max-width: 780px) {
  #field-set {
    margin-left: 10px;
    margin-right: 10px; } }

@media only screen and (max-width: 780px) {
  .clientName_clientMail {
    flex-wrap: wrap;
    justify-content: flex-start; } }

@media only screen and (max-width: 780px) {
  .your-name-area, .your-email-area, .your-msg, .your-email-area {
    width: 85%; } }

@media only screen and (max-width: 780px) {
  #f-name, #f-email {
    padding-top: 50px; } }

@media only screen and (max-width: 780px) {
  .message {
    width: 88px; } }

@media only screen and (max-width: 780px) {
  .your-msg {
    width: 80%; } }

/* Modular Scale */
/* Colors project pages */
/* halfCircle path colors indiv project pages */
/* Rectangle colors for devices small and large */
/* borders */
/**** Google Fonts ****/
/* Lato Variables */
/* Base Size */
/**** Responsive Scales ****/
p {
  font-family: "Lato", "serif";
  color: #423F3F;
  line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  color: #423F3F; }

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: magenta;
  background-color: #fff5ee;
  border: 1px solid #b871f7; }

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7; }

.parsley-errors-list {
  margin: 2px 0 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  left: 20px;
  font-family: "Lora", serif;
  border-bottom: 1px solid #00f;
  position: relative;
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in; }

#parsley-id-7, #parsley-id-5, #parsley-id-9 {
  margin-bottom: -25px; }

#parsley-id-9 {
  top: 20px; }

.parsley-errors-list.filled {
  opacity: 1; }

/* Modular Scale */
/* Colors project pages */
/* halfCircle path colors indiv project pages */
/* Rectangle colors for devices small and large */
/* borders */
/**** Google Fonts ****/
/* Lato Variables */
/* Base Size */
/**** Responsive Scales ****/
p {
  font-family: "Lato", "serif";
  color: #423F3F;
  line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  color: #423F3F; }

#submit-form {
  color: #fcfcfc;
  border: 2px solid #00f;
  background-color: #00f;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  -webkit-transition: background-color, 0.4s;
  -moz-transition: background-color, 0.4s;
  transition: background-color, 0.4s; }
  @media (min-width: 15em) and (max-width: 60em) {
    #submit-form {
      font-size: calc( 1.1em + 0.233 * ( ( 100vw - 15em) / 45 )); } }
  @media (min-width: 60em) {
    #submit-form {
      font-size: 1.333em; } }

#submit-form:hover {
  color: #fcfcfc;
  border: 2px solid royalblue;
  background-color: royalblue;
  box-shadow: 0px 5px 0 #00f; }

#submit-form:active {
  box-shadow: 0px 0px 0 black;
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  -ms-transform: translateY(8px);
  -o-transform: translateY(8px);
  transform: translateY(8px); }

#submit-form:focus {
  outline: 0; }

/* Modular Scale */
/* Colors project pages */
/* halfCircle path colors indiv project pages */
/* Rectangle colors for devices small and large */
/* borders */
/**** Google Fonts ****/
/* Lato Variables */
/* Base Size */
/**** Responsive Scales ****/
p {
  font-family: "Lato", "serif";
  color: #423F3F;
  line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  color: #423F3F; }

.hidden-fail-div {
  visibility: hidden;
  font-family: "Montserrat", sans-serif;
  position: relative;
  display: flex;
  justify-content: center;
  bottom: 10rem; }

.content {
  width: 100%; }

.fail-heading {
  text-align: center;
  position: relative;
  font-size: 1.4641em; }
  @media (min-width: 15em) and (max-width: 60em) {
    .fail-heading {
      font-size: calc( 1.4641em + 1.69323 * ( ( 100vw - 15em) / 45 )); } }
  @media (min-width: 60em) {
    .fail-heading {
      font-size: 3.15733em; } }

.mesg-to-usr {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  position: relative; }

#m-icon-fail {
  stroke: red;
  stroke-width: 4px;
  opacity: 0.5;
  stroke-dasharray: 100;
  -webkit-animation: stroke-mail 5s ease infinite;
  -moz-animation: stroke-mail 5s ease infinite;
  animation: stroke-mail 5s ease infinite; }

@keyframes stroke-mail {
  from {
    stroke-dashoffset: 500; }
  to {
    stroke-dashoffset: 0; } }

#thank-you {
  font-size: 1.1em;
  position: relative;
  bottom: 5px;
  font-weight: bold; }
  @media (min-width: 15em) and (max-width: 60em) {
    #thank-you {
      font-size: calc( 1.1em + 0.233 * ( ( 100vw - 15em) / 45 )); } }
  @media (min-width: 60em) {
    #thank-you {
      font-size: 1.333em; } }

.fail-safe {
  position: relative;
  font-weight: bold;
  font-size: 1.1em; }
  @media (min-width: 15em) and (max-width: 60em) {
    .fail-safe {
      font-size: calc( 1.1em + 0.233 * ( ( 100vw - 15em) / 45 )); } }
  @media (min-width: 60em) {
    .fail-safe {
      font-size: 1.333em; } }

.way {
  position: relative;
  top: 7px; }

/* Modular Scale */
/* Colors project pages */
/* halfCircle path colors indiv project pages */
/* Rectangle colors for devices small and large */
/* borders */
/**** Google Fonts ****/
/* Lato Variables */
/* Base Size */
/**** Responsive Scales ****/
p {
  font-family: "Lato", "serif";
  color: #423F3F;
  line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  color: #423F3F; }

.hidden-success-div {
  visibility: hidden;
  font-family: "Montserrat", sans-serif;
  position: relative;
  display: flex;
  justify-content: center;
  bottom: 2rem;
  height: 0; }

.content {
  width: 100%; }

.sent-heading {
  text-align: center;
  position: relative;
  font-size: 1.4641em; }
  @media (min-width: 15em) and (max-width: 60em) {
    .sent-heading {
      font-size: calc( 1.4641em + 1.69323 * ( ( 100vw - 15em) / 45 )); } }
  @media (min-width: 60em) {
    .sent-heading {
      font-size: 3.15733em; } }

.mesg-to-usr {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  position: relative; }

#m-icon {
  fill: none;
  stroke-width: 4px;
  opacity: 0.9;
  stroke-dasharray: 10;
  -webkit-animation: stroke-mail 7s ease-in-out infinite;
  -moz-animation: stroke-mail 7s ease-in-out infinite;
  animation: stroke-mail 7s ease-in-out infinite; }

@keyframes stroke-mail {
  from {
    stroke-dashoffset: 500; }
  to {
    stroke-dashoffset: 0; } }

#thank-you {
  position: relative;
  bottom: 5px;
  font-weight: bold; }

/* Prefooter  */
/* Here I import all my modules into the home-module */
/* Padding mixin for links inside paragraph*/
/* Pushing intro-msg margins in closer */
/* Modular Scale */
/* Colors project pages */
/* halfCircle path colors indiv project pages */
/* Rectangle colors for devices small and large */
/* borders */
/**** Google Fonts ****/
/* Lato Variables */
/* Base Size */
/**** Responsive Scales ****/
p {
  font-family: "Lato", "serif";
  color: #423F3F;
  line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  color: #423F3F; }

.contact-p-head {
  text-align: center;
  margin: 2rem; }

.contact-page {
  position: relative;
  top: 5rem; }

.text-footer {
  position: relative;
  top: 15rem; }

.say-hi {
  font-size: 1.4641em;
  font-weight: "" 800; }
  @media (min-width: 15em) and (max-width: 60em) {
    .say-hi {
      font-size: calc( 1.4641em + 1.69323 * ( ( 100vw - 15em) / 45 )); } }
  @media (min-width: 60em) {
    .say-hi {
      font-size: 3.15733em; } }

.exit-msg {
  font-size: 1.21em;
  margin: 0% 8% 0%;
  font-weight: "Montserrat", sans-serif;
  position: relative;
  text-align: center; }
  @media (min-width: 15em) and (max-width: 60em) {
    .exit-msg {
      font-size: calc( 1.21em + 0.56689 * ( ( 100vw - 15em) / 45 )); } }
  @media (min-width: 60em) {
    .exit-msg {
      font-size: 1.77689em; } }

.email:hover,
.email:focus {
  color: blue; }

.email:hover {
  background-size: 100% 100%; }

.email {
  font-family: "Montserrat", sans-serif;
  font-weight: "" 800;
  border: none;
  border-bottom: 2px solid royalblue;
  background: -webkit-linear-gradient(cyan, cyan) no-repeat bottom;
  background: -o-linear-gradient(cyan, cyan) no-repeat bottom;
  background: linear-gradient(cyan, cyan) no-repeat bottom;
  background-size: 100% 1px;
  transition: .2s,color .1s .1s;
  text-decoration: none;
  color: #333333;
  position: relative; }

.list2 {
  margin-top: 2rem; }

.backtop {
  top: 1rem; }

#b-w-a {
  font-weight: 600; }

@media only screen and (max-width: 780px) {
  .text-footer {
    top: 20rem; } }

/* Footer */
/* Modular Scale */
/* Colors project pages */
/* halfCircle path colors indiv project pages */
/* Rectangle colors for devices small and large */
/* borders */
footer {
  background-color: #e0e0e0; }

li {
  list-style: none; }

#home, #projects, header #chat, header #bio, header #getintouch, header .email, header .point-p, .pre-footer #chat, .pre-footer #bio, #about, #contact, #blog {
  text-decoration: none; }

.footer-area {
  display: flex;
  width: 100%;
  position: relative; }

.footer-nav {
  position: relative;
  padding: 2rem 0rem 2rem;
  width: 100%;
  height: 100%;
  background-color: #e0e0e0;
  flex-wrap: wrap;
  display: inline-flex;
  justify-content: center; }

.home, .projects-link, .about, .contact-link, .blog, .proj, .cont, .proj, .about, .cont, .blog {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  padding: 0rem 1rem 0rem;
  text-decoration: none; }

.home:hover, .projects-link:hover, .about:hover, .contact-link:hover, .blog:hover, .proj:hover, .cont:hover {
  color: blue; }

.home, .projects-link, .about, .contact-link, .blog, .proj, .cont {
  color: black;
  font-weight: 900; }

.home, .projects-link, .about, .contact-link, .blog, .proj, .cont {
  padding: 0rem 1rem 0rem;
  text-decoration: none; }

.social {
  display: inline-flex;
  background: #e0e0e0;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  height: 5rem;
  justify-content: center; }

.smedia {
  font-family: "Montserrat", sans-serif;
  position: relative;
  left: 20px;
  top: 30px; }

.social1-gh, .social3-in, .social4-twitter, .social5-behance {
  font-family: "Montserrat", sans-serif;
  position: relative;
  padding-top: 1rem; }

.github, .google, .linkedin, .twitter, .behance {
  display: block;
  overflow: hidden;
  border-radius: 50%;
  width: 45px;
  padding: 0rem 1rem 0rem;
  position: relative; }

.bottom {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  background-color: #e0e0e0;
  position: relative;
  height: 25px;
  bottom: 4px; }

@media only screen and (max-width: 425px) {
  .footer-nav {
    padding-top: 10px;
    align-items: center;
    flex-direction: column;
    height: 17rem; } }

@media only screen and (max-width: 425px) {
  .social {
    height: 10rem;
    align-content: center;
    flex-direction: column; } }

/* Typeography */
/**** Google Fonts ****/
/* Lato Variables */
/* Base Size */
/**** Responsive Scales ****/
p {
  font-family: "Lato", "serif";
  color: #423F3F;
  line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  color: #423F3F; }

/* Vendors */
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }
