@import "modules/home-page/home-module";
@import "partials/variables";
@import "partials/typography";
@import "vendor/bourbon";


figure {
  margin:-2px;
}
.proj-headings{
    position: relative;
    top:408px;
}
.project-heading{
    @include page-headings;
}

.project-discript{
    @include page-headings;
    @include ms-respond(font-size,1);
}

.line_under,.line_above{
    @include svg-line-divider;
    top:410px;
}

.pfolio{
  letter-spacing: 1px;
  @include page-headings;
}

.proj-container{
    margin: 4rem 1rem 4rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.projects{
  position: relative;
  flex-direction: row;
  max-height: 100%;
  width: 314px;
  height: 270px;
}

.border{
    fill:none;
    stroke:url("#spect");
    stroke-width:11px;
}

.link-mobile{
    font-family: $monte;
    fill:#383838;
    font-size: 1.5em;
    visibility: hidden;
    font-weight: 900;
}

.cat{
  font-weight:$montB;
  font-size:1.2em;
}

.link-mobile {
  @include md-tablet {
    visibility: visible;
  }
}

.link{
    font-family: $monte;
    fill:#383838;
    font-size: 1.3em;
    font-weight: 900;
}


.s-d{
    transform:translateY(-12px);
}

.viewtext{
    font-size:1.2em;
    font-family: $monte;
}

#getintouch:hover,
#getintouch:focus {
   color:blue;
}


#getintouch:hover{
   background-size:100% 100%;
}


#getintouch{
  font-family: $monte;
  font-weight: $montB;
  @include hover-links;
  @include ms-respond(font-size,1);
  color:$typeColor;
  padding:5px 2rem 5px;
  position:relative;
  bottom:2rem;
}

.skill{
  @include ms-respond(font-size,-3);
}

.view-device{
  opacity: 0;
}

.view-device {
  @include md-tablet {
    opacity: 1;
  }
}

.proj-container{
    @include desktop-sm {
      margin: 4rem 1rem;
    }

    @include md-mobile {
      margin:2rem 1rem;
    }
}

#project-name{
    @include tablet {
        transform:translateY(-21px);
    }
}

.proj-container{
  @include lrg-desktop {
    padding:0rem 5rem;
  }
  @include xl-desktop {
    padding:0rem 10rem;
  }
  @include xxl-desktop {
    padding:0rem 15rem;
  }
  @include utra-xl-desktop {
    padding:0rem 20rem;
  }
}

.projects{
  // 1032
  @include tablet {
    height: 217px;
    width: 254px;
  }
  // 960
  @include desktop-md {
    width: 246px;
    height: 210px;
  }
  // 850
  @include md-tablet {
    width: 217px;
    height: 184px;
  }
  // 780
  @include small-tablet {
    height:169px;
    width:200px;
  }
  // 680
  @include sm-tablet {
    height: 146px;
    width: 174px;
  }
  // 523
  @include lrg-mobile {
    width: 137px;
    height: 115px;
  }
  // 425
  @include md_mobile {
      // margin: -1rem;
      width: 109px;
      height: 91px;
  }
  // 385
  @include sm_mobile {
    width: 109px;
    height: 90px;
  }
  // 320
  @include sm_mobile {
    width: 200px;
    height: 200px;
    // width: 100px;
    // height: 89px;
  }
}
