@import "modules/projects-page/projects-module";
@import "partials/variables";
@import "partials/typography";
@import "vendor/bourbon";

// figure {
// margin-right:8px;
// margin-left: 8px;
// }

.project-heading{
    top:455px;
    text-align: center;
    position: relative;
    font-family: $monte;
    padding-bottom:100px;
    @include ms-respond(font-size,3);
}

.project-discript{
    position: relative;
    top:355px;
    text-align: center;
}

.proj-container{
    position: relative;
    display: flex;
    flex-direction: row;
    top:25em;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

.project-wrapper{
    width:100%;
    height:100%;
    position: relative;

    .projects{
       width:100%;
       height:100%;
       //background-color:grey;
   }
}

.halfCircle{
    opacity: 0.8;
    z-index: 2;
    transform:translateY(250px);
}

.halfCircle1{
    transform:translateY(250px);
}

#circle-paths{
    transform:translateY(-25px);
}

.link{
    font-family: $monte;
    fill:white;
    font-size: 1.2em;
    font-weight: 700;
}

.viewtext{
    //text-decoration: underline;
    font-family: $monte;
    fill:black;

    &:hover {
        fill:blue;
    }
}

.proj-container{

    @include tabletLayout {
        flex-wrap: wrap;
    }


    @include phonelayout {
        width:90%;
    }

}
//
// @media screen and (max-width:1235px) {
//     figure{
//         margin:5px;
//     }
//
// }
//
//
// @media screen and (min-width:1280px) {
//     figure{
//         margin: 1em 50px;
//     }
//
// }

figure{
    @include desktop_sm_Projects {
        margin:8px;
    }

    @include desktop_lrg_Projects {
        margin:1em 50px;
    }
}
