@import "modules/home-page/home-module";
@import "partials/variables";
@import "partials/typography";
@import "vendor/bourbon";

.pfolio {
  text-align: center;
  @include ms-respond(font-size,4);
}

.proj-container{
    margin:0px 150px;
  }

.card-section{
  text-align:center;
}

.link{
  text-decoration: none;
}

.tag{
  font-family:$monte;
  font-weight:400;
  display: block;
  // padding:3px;
  // background-color:#f2f2f2;
  // color:rgb(51, 51, 51);
}
.prj-head, .prj-info {
  text-align:center;
  // fill:#44444;
  font-weight:600;
  font-family:$monte;
  padding:20px 10px 20px;
  margin:0px;
}

.prj-head{
  @include ms-respond(font-size,1);
}

.info {
  @include ms-respond(font-size,0);
}

.info{
  text-align:center;
  background-color: #4169e1;
  color: #f6f6f6;
  opacity: 0.8;
  padding: 0 10px 0px;
  font-weight:600;
  font-family:$monte;
}

.p-card{
  margin:10px;
  //background-color:whitesmoke;
  transition:box-shadow 0.4s;
  box-shadow:0px 10px 10px 0px rgba(0,0,0,0);
}
.view-icon{
  opacity:0;
  transition: opacity 0.3s;
}
.fullRect{
    //visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
}

.view{
  fill:whitesmoke;
  font-weight:bold;
  font-family:$monte;
  font-size:20px;
}

.proj-container{

  @include desktop-md {
    margin:0 100px;
  }

  @include desktop-sm {
    margin: 0px;
  }
}
