@import "partials/variables";

.btm-rect-dreaming{
    fill:$secret-rect;
    opacity:$halfCircle-opacity;
}


.top-rect-dreaming{
    fill:$secret-sm-rect;
    opacity:$halfCircle-opacity;
}

.btm-rect-point{
    fill:$point-rect;
    opacity:$halfCircle-opacity;
}


.top-rect-point{
    fill:$point-sm-rect;
    opacity:$halfCircle-opacity;
}

.btm-rect-radiate{
    fill:$radiate-rect;
    opacity:$halfCircle-opacity;
}


.top-rect-radiate{
    fill:$radiate-sm-rect;
    opacity:$halfCircle-opacity;
}

.btm-rect-urban{
    fill:$urban-rect-main;
    opacity:$halfCircle-opacity;
}


.top-rect-urban{
    fill:$urban-sm-rect;
    opacity:$halfCircle-opacity;
}

.btm-rect-print{
    fill:$print-rect;
    opacity:$halfCircle-opacity;
}


.top-rect-print{
    fill:$print-sm-rect;
    opacity:$halfCircle-opacity;
}

.btm-rect-royal{
    fill:$royal-rect-main;
    opacity:$halfCircle-opacity;
}


.top-rect-royal{
    fill:$royal-sm-rect;
    opacity:$halfCircle-opacity;
}
