@import "partials/variables";

.btm-rect-dreaming{
    fill:$rect-color;
    opacity:$halfCircle-opacity;
}


.btm-rect-point{
    fill:$rect-color;
    opacity:$halfCircle-opacity;
}


.btm-rect-radiate{
    fill:$rect-color;
    opacity:$halfCircle-opacity;
}


.btm-rect-urban{
    fill:$rect-color;
    opacity:$halfCircle-opacity;
}


.btm-rect-print{
    fill:$rect-color;
    opacity:$halfCircle-opacity;
}


.btm-rect-royal{
    fill:$rect-color;
    opacity:$halfCircle-opacity;
}
