@import "partials/variables";
@import "modules/bio-page/bio-module";
@import "modules/home-page/home-module";
@import "partials/typography";
@import "vendor/bourbon";

.skills{
  padding: 20px 0px 20px;
}

.about-short-disc{
    @include ms-respond(font-size,2);
    // @include left-right-margin;
    // font-weight:$montSemi;
    line-height:ms(1);
    // padding: 2rem;
    position: relative;
    text-align: left;
    padding:0px 0px 20px;
    // bottom:50px;
}

<<<<<<< HEAD
.first-imp{
  @include ms-respond(font-size,2);
}

.services-info{
  @include ms-respond(font-size,1);
}

ul{
  padding: 0;
}

.graphic-d, .web-d{
  padding-bottom: 20px;
}


.services-h1{
  @include ms-respond(font-size,2);
}


=======
>>>>>>> 173cdd864ccf4ca0ebcf1ffbdcff58ac68bd22e4
.desktop_graphic{
  display: flex;
  justify-content: center;
}

.service{
  width: 600px;
}

.graphic-text{
  font-family: $monte;
  font-weight: 400;
}

.slideDown{
  transition: transform 0.8s;
  transform: translateY(8px);
}

.slideUp{
  transition: transform 0.4s;
  // transition: fill 0.8s;
  fill:royalblue;
  transform: translateY(-81px);
}


#chat:hover,
#chat:focus {
   color:blue;
}

#chat {
    font-family: $monte !important;
    color:$typeColor;
    padding: 2px;
    font-weight: 900;
    margin: 0 -2px;
}

#chat {
    @include hover-links;
}

#chat:hover {
   background-size:100% 100%;
}

.img-center{
  display: flex;
  // justify-content: center;
  align-items: center;
}

.svg-process{
  height: 50px;
  margin: 10px;
}


.lead{
  font-family: $lato;
  font-weight: 400;
  font-style: italic;
}

.device_graphic{
  display: none;
}

.device_graphic{
  @include tablet {
    display: flex;
    justify-content: center;
  }
}
.desktop_graphic{
  @include tablet {
    display: none;
  }
}

.about-info-1,.about-info-2{
  @include tablet{
    display:flex;
    margin:1em;
    flex-direction:row;
  }
}


.about-info{
  @include sm-tablet{
    flex-direction: column;
  }
}


.col-left, .col-right{
  @include sm-tablet{
    width:100%;
  }
}
