@import "partials/variables";
@import "modules/bio-page/bio-module";
@import "partials/typography";
@import "vendor/bourbon";

.about-page{
    margin-top:85px;
    height:$about-pg-height;
}

.about-heading{
    top:80px;
    @include page-headings;
}

.line_above-about,.line_under-about{
    @include svg-line-divider;
}

.line_above-about{
    top:40px;
}

.line_under-about{
    top:15px;
}

.about-short-disc{
    @include bio;
}

.one,.two{
    margin-top: 50px;
}
.bio-image{
    width:100%;
    margin-top:55px;
    .my-story-seq{
        width:100%;
        margin: auto;
        display: block;
        max-width: 1000px;
    }
}
