@import "partials/variables";
@import "modules/bio-page/bio-module";
@import "modules/home-page/home-module";
@import "partials/typography";
@import "vendor/bourbon";

.about-short-disc{
    @include ms-respond(font-size,2);
    @include left-right-margin;
    // font-weight:$montSemi;
    line-height:ms(1);
    // padding: 2rem;
    position: relative;
    text-align: center;
    // bottom:50px;
}

.about-info-1,.about-info-2{
  display:flex;
  margin:3em 4em 4em;
  flex-direction:row;
}

.col-left, .col-right{
  flex-grow:1;
  width:10em;
  height:100%;
}

.desktop_graphic{
  display: flex;
  justify-content: center;
}

.service{
  width: 600px;
}

.graphic-text2{
  font-family: $monte;
}

.slideDown{
  transition: transform 0.8s;
  transform: translateY(8px);
}

.slideUp{
  transition: transform 0.4s;
  // transition: fill 0.8s;
  fill:royalblue;
  transform: translateY(-81px);
}


#chat:hover,
#chat:focus {
   color:blue;
}

#chat {
    font-family: $monte !important;
    color:$typeColor;
    padding: 2px;
    font-weight: 900;
    margin: 0 -2px;
}

#chat {
    @include hover-links;
}

#chat:hover {
   background-size:100% 100%;
}

.device_graphic{
  display: none;
}

.device_graphic{
  @include tablet {
    display: flex;
    justify-content: center;
    padding:30px;
  }
}
.desktop_graphic{
  @include tablet {
    display: none;
  }
}

.about-info-1,.about-info-2{
  @include tablet{
    display:flex;
    margin:1em;
    flex-direction:row;
  }
}


.proj-enq{
  @include tablet {
    margin:0;
  }
}

.about-info{
  @include sm-tablet{
    flex-direction: column;
  }
}

.service{
  @include tablet {
    height:150px;
  }
  @include sm-tablet{
    height: 100px;
  }
}
.col-left, .col-right{
  @include sm-tablet{
    width:100%;
  }
}
