@import "partials/variables";
@import "modules/bio-page/bio-module";
@import "partials/typography";
@import "vendor/bourbon";

.about-page{
    margin-top:85px;
    height:$about-pg-height;
}

.about-heading{
    bottom:90px;
    @include page-headings;
}

.line_above-about,.line_under-about{
    padding-bottom:80px;
    @include svg-line-divider;
}

.line_under-about{
    bottom:100px;
}

.about-short-disc{
    @include bio;
}

.disc-one{
    bottom:90px;
}

.disc-two{
    top:50px;
}
.bio-image{
    width:100%;
    margin-top:25px;
    .my-story-seq{
        width:100%;
        margin: auto;
        display: block;
        max-width: 1000px;
    }
}

.about-page{
    @include small-tablet{
        height:1350px;
    }
}
