@import "partials/variables";
@import "modules/bio-page/bio-module";
@import "partials/typography";
@import "vendor/bourbon";

// inline svg scaling hack
// set the SVG to position: absolute, with height and width of 100%. The absolute positioning is required so that the percentages will be calculated relative to the height of the `skills div` including the padding, and not relative to the zero-height content area.
// skill-spect `svg` is a child of the skills `div`
.skill-spect{
    position: absolute;;
    width: 100%;
    height: 95%;
    left: 0;
    top:-100px;
}

#circles{
    transform:translateX(60px);
    opacity: 0.7;
}

#roygbiv{
    opacity:0;
}

#roygbiv-txt{
    transform:translateX(-8px);
}

#roygbiv-circles{
    display:inline;
    opacity:0;
    transform:translateX(-20px);
}
// TEXT
#web-print-film{
    @include transition(opacity 0.2s);
    opacity:0;
}

#cyan,#yellow,#magenta{
    mix-blend-mode:multiply;
}

// TEXT
#skilz:hover #web-print-film{
    @include transition(opacity 0.5s);
    opacity:1;
}

// ICONS
#skilz:hover #icons {
    opacity:0;
}
// stroke dash-array animation & circle opacity transition
#skilz {
    &:hover #cyan{
        fill-opacity:0.5;
        stroke:red;
        @include stroke-ani-circle-trans;
    }
    &:hover #yellow{
        fill-opacity:0.5;
        stroke:lime;
        @include stroke-ani-circle-trans;
    }
    &:hover #magenta{
        fill-opacity:0.5;
        stroke:blue;
        @include stroke-ani-circle-trans;
    }
}

@keyframes stroke_line {
    from{
        stroke-dashoffset:170;
    }
    to{
        stroke-dashoffset:0;
    }
}

#skilz-main{
    @include transition(opacity 0.5s);
    opacity:1;
}

#skilz{
    &:hover #skilz-main{
        // pointer-events: visible;
        @include transition(opacity 0.2s);
        opacity: 0;
    }
}

.skill-spect{
    @include desktop {
        top:-280px;
        height:125%;
    }
}

.skill-spect {
    @include small-tablet {
        height:125%;
        top:-45px;
    }
}

.skill-spect{
    @include mobile {
        height:500px;
    }
}

#cyan, #yellow, #magenta{
    @include small-tablet {
        stroke:none;
    }
}
