@import "modules/projects/pages_module";
@import "modules/global-mqs/mqs";
@import "partials/variables";
@import "vendor/mod-scale";

li{
    list-style: none;
}

#home,#projects,#about,#contact,#blog{
    text-decoration: none;
}

.footer-area{
    @include display(flex);
    width:100%;
    height:390px;
    position: relative;
    top:50px;
}

.footer-nav{
    position: relative;
    padding-top: 40px;
    padding-left:10px;
    width:18.5em;
    background-color:$footer-nav;

    @include mobile_device {
        width: 11.5em;
        padding-left: 0px;

    }
}

.home,.projects,.about,.contact,.blog{
    font-family: $monte;
    text-decoration: none;
    padding-top:5px;
}

.home:hover{
    color:blue;
}

.home{
    color:black;
    padding-left:0;
    font-weight: 900;
    margin-left: 40px;
    width:50px;
}

.projects,.contact{
    width:70px;
}

.home{
    @include link-hover-footer;
}

.home:hover{
    background-size: 100% 100%;
}

.social{
    background-color:$footer_social;
    width:100%;
}
.smedia{
    font-family: $monte;
    position: relative;
    left:$leftside;
    top:30px;
}
.socialize{
    @include social-links;
}

#s-link{
    color:#00f;
}
.social1-gh{
    font-family: $monte;
    position: relative;
    top:40px;
    padding-left: 40px;

    @include mobile_device {
        padding-left: 20px;
    }
}
.github{
    @include social-icons;
}
