@import "modules/projects/pages_module";
@import "vendor/mod-scale";
@import "partials/variables";
@import "modules/global-mqs/mqs";
@import "modules/projects-page/projects-module";

body{
    background-color: seashell;
}

.proj3{
    text-align: center;
    bottom: 15px;
    margin-bottom: 30px;
    font-family:$lora;
}

.header-img{
    width: 100%;
    height:100%;
}

.project-introduction{
    padding: 50px 100px;

    @include mobile_device {
        padding-right:75px;
        padding-left: 75px;
    }
}

#hero_proj1{
    min-height: 100%;
    width:100%;
}

.media{
    display: block;
    font-style: italic;
    padding-bottom: 5px;
    border-bottom:$radiate_border;
    font-family: $lora;
    bottom:15px;
}

.project-desc{
    @include ms-respond(font-size,1);
    border-bottom:$radiate_border;
    position: relative ;
    width:95%;
    margin: auto;
    text-align: center;
    margin-top: 5px;
    bottom: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
}
#project-desc{
    border-top:$radiate_border;
    margin-top: 55px;
}
.main-image{
    width:100%;

    .story-seq{
        width: 100%;
        margin:auto;
        display:block;
        max-width:1000px;
    }
}

.line-1{
    transform: translateY(-40px);
}

#line1,#line2{
    fill:url('#australia');
}

.break-wrapper{
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
    margin: 50px;
    text-align: center;
}

.images{
    display: flex;
    position: relative;
    @include flex-wrap(wrap);
    @include justify-content(center);

    .disp1{
        margin:$img-spaceing;
        padding-left:10px;
        width: 100%;
        max-width: 450px;
        padding-right: 10px;
        padding-bottom: 10px;

        @include mobile_device {
            margin: 0;
            padding-right:0;
            padding-left: 0;
        }
    }
}
.caption1{
    font-size: ms(0);
    text-align: center;
    width: 300px;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom:$radiate_capt_border;
    border-top:$radiate_capt_border;
    top: 10px;
    margin-top: 20px;
}

.box_1,.box_2{
    @include display_box;
    @include boxCapt_radiate;
    @include transition(opacity 0.5s);
    top:234px;
}

.box_3,.box_4{
    @include display_box;
    bottom:20px;
    @include transition(opacity 0.8s);
}

.discript1{
    opacity: 1;
    color:white;
}

.project-wrapper{
    height:100%;

    .other-projects{
       width:300px;
   }

   .project-heading{
       text-align: center;
       position: relative;
       font-family: $lora;
       @include ms-respond(font-size,2);
   }
}


.proj-container{
    @include display(flex);
    justify-content: center;

    @include tablet_device {
        // media q for f-w
        @include flex-wrap(wrap);
    }
}

.line-divider{
    width: 100%;
    height: 100%;
}

.halfCircle{
    opacity: 0.8;
    z-index: 2;
    transform:translateY(250px);
}

.halfCircle1{
    transform:translateY(250px);
}

#circle-paths{
    transform:translateY(-25px);
}

.link{
    font-family: $monte;
    fill:white;
    font-size: 1.2em;
    font-weight: 700;
}

.viewtext{
    font-family: $monte;
    fill:black;

    &:hover {
        fill:blue;
    }
}
