@import "modules/projects/pages_module";
@import "vendor/mod-scale";
@import "partials/variables";
// @import "modules/projects-page/projects-module";
@import "modules/global-mqs/mqs";

body{
 @include body-mixin;
}

.proj-n{
    text-align: center;
    @include ms-respond(font-size,4);
}

.header-img{
    @include width-height-100percent;
}

.project-introduction{
    padding: $proj-intro-padding;

    @include lrg-mobile {
        padding:1rem;
    }
}

.media{
    text-align: center;
    @include media;
    @include projDscript;
    text-align: center;
    border-bottom: $radiate_border;
    font-family: $monte;
    @include ms-respond(font-size,2);
}

.project-desc{
    @include ms-respond(font-size,2);
    @include projDscript;
    border-bottom:$radiate_border;
}

#project-desc{
    border-top:$radiate_border;
    margin-top:55px;
    width:75%;
}
.main-image{
    width:100%;

    .story-seq{
        width: 100%;
        margin:auto;
        display:block;
        max-width:1000px;
    }
}

.line-1{
    transform: translateY(-40px);
}

#line1,#line2{
    fill:url('#australia');
}

.break-wrapper{
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
    margin: 50px;
    text-align: center;
}

#shillo{
    text-decoration: none;
    color:#00966C;
}

#shillo:hover{
    @include transition(color 0.5s);
    color:#333;
}

.proj_images{
    @include display(flex);
}

.images{
    @include display(flex);
    position: relative;
    @include flex-wrap(wrap);
    @include justify-content(center);
    margin-bottom:$m-b-under-imgs;

    .disp1{
        margin:$img-spaceing;
        @include padding-left-right-bottom;
        width: 100%;
        max-width: 450px;

        @include mobile_device {
            margin:0;
            padding-right:0;
            padding-left: 0;
        }
    }
}
.caption1{
    @include caption;
    border-top:$radiate_border;
    border-bottom:$radiate_border;
    font-size: ms(0);
}

.box_1{
    @include display_box;
    @include boxColor_radiate;
    @include transition(opacity 0.5s);
    opacity: 0;
}
.box_1,.box_2{top:0px;}

:hover.box_1{
    opacity: 0.8;
}

// removing width from boxes at tablet_device size
// having the width set to its original size of 450px adds a scroll bar on small screens to right of page
@include tablet_device{
    .box_1{
        width: 0px;
    }
}

.discript1{
    font-size: ms(1);
    opacity: 1;
    margin-top: 250px;
    color:white;
}

.more-projects{
  @include ms-respond(font-size,3);
  @include more-proj;
}

.project-wrapper{
    height:100%;

    .other-projects{
       width:250px;
   }

   .project-heading{
       text-align: center;
       position: relative;
       @include ms-respond(font-size,3);
   }
}


.proj-container{
    @include display(flex);
    justify-content: center;

    @include tablet_device {
        // media q for f-w
        @include flex-wrap(wrap);
    }
}


.line-divider{
    // @include width-height-100percent;
    width: 100%;
    height: 100%;
}

.link{
    font-family: $monte;
    fill:$typeColor;
    @include transition(fill 0.2s);
    font-size: 1.2em;
    font-weight: 700;
}

.other-projects:hover .halfRect1{
    fill:whitesmoke;
    @include transition(fill 0.2s);
}

li{
    list-style: none;
}
