@import "vendor/normalize";
@import "vendor/bourbon";
@import "vendor/lux";
@import "partials/typography";
// Layout
@import "partials/project_pages/base-layout-projects/layout_2";
// Footer
@import "partials/project_pages/footer-layout-projects/f2";
// Animation
@import "partials/project_pages/interactive/ani2";
