@import "vendor/normalize";
@import "partials/home/page-trans";
@import "vendor/bourbon";
@import "vendor/lux";
@import "vendor/foundation";
@import "vendor/buttons";

@import "vendor/materialize";

@import "partials/typography";
// Layout
@import "partials/project_pages/base-layout-projects/layout_5";
// Footer
@import "partials/project_pages/footer-layout-projects/f5";
// Animation
// @import "partials/project_pages/interactive/ani5";
