@import "vendor/normalize";
@import "vendor/bourbon";
@import "partials/typography";
// Layout
@import "partials/project_pages/base-layout-projects/layout_1";
// Footer
@import "partials/project_pages/footer-layout-projects/f1";
// Animation
@import "partials/project_pages/interactive/ani1";
