@import "vendor/normalize";
@import "partials/home/page-trans";
@import "vendor/bourbon";
@import "vendor/lux";
@import "partials/typography";
@import "vendor/foundation";
@import "vendor/buttons";

@import "vendor/materialize";

// Layout
@import "partials/project_pages/base-layout-projects/layout_6";
// Footer
@import "partials/project_pages/footer-layout-projects/f6";
// Animation

// @import "partials/project_pages/interactive/ani4";

// @import "partials/project_pages/interactive/ani6";
