@import "vendor/normalize";
@import "partials/home/page-trans";
@import "vendor/bourbon";
@import "vendor/lux";
@import "partials/typography";
@import "vendor/foundation";
@import "vendor/buttons";
<<<<<<< HEAD
@import "vendor/materialize";
=======
>>>>>>> 173cdd864ccf4ca0ebcf1ffbdcff58ac68bd22e4
// Layout
@import "partials/project_pages/base-layout-projects/layout_4";
// Footer
@import "partials/project_pages/footer-layout-projects/f4";
// Animation
// @import "partials/project_pages/interactive/ani4";
