/*  Home-Page Module Mixins and Extends */
@import "modules/home-page/home-module";
/* Gobal Variables */
@import "partials/variables";
@import "partials/typography";


#mixer{
    display: block;
    margin: auto;
}

.intro{
    text-align: center;
    position: relative;
    font-size: ms(5);
    margin-bottom: 1em;
    margin-top:0.5em;
}

.char1, .char2, .char5, .char6{
    letter-spacing: 10px;
}

.char3{
    opacity:0;
    transform:rotate(0deg);
    position: relative;
    display: inline-block;
    width:50px;
    height:55px;
    left:10px;
    margin-right:-40px;
    bottom:3px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:80px;
    background-image:url('https://s3-us-west-2.amazonaws.com/designdiagrams/curveAst_O.png');
    animation: spin 4s 1 ease;
}

.char4{
    color:black;
    position: relative;
    right:10px;
    opacity:0;
}


@keyframes spin {

    from{
        opacity:1;
        transform: rotate(0deg);
        animation-duration: 2s;
    }

    to{
        opacity:0;
        transform: rotate(920deg);
        animation-duration: 1s;
    }
}

.intro-msg{
    // padding for left right and bottom links
    @include left-right-bottom-links;
    // left might margins pushed in closer
    @include left-right-margin;
    text-align: center;
    line-height:ms(1);
    font-size: ms(1);
}

header #projects:hover,
header #projects:focus {
   color:blue;
}

header #projects {
    color:black;
    padding: 2px;
    font-weight: 900;
    margin: 0 -2px;
}

header #projects{
    border:none;
    border-bottom: 2px solid blue;
    // cyan rect appear over link
    background:linear-gradient(cyan,cyan) no-repeat bottom;
    background-size:100% 1px;
    // transition when hovered on
    transition: .2s,color .1s .1s;
    text-decoration:none;
}

header #projects:hover{
   background-size:100% 100%;
}

circle {
  mix-blend-mode: multiply;
}
