/*  Home-Page Module Mixins and Extends */
@import "modules/home-page/home-module";
/* Gobal Variables */
@import "partials/variables";
@import "partials/typography";
.intro{
    text-align: center;
    position: relative;
    font-size: ms(3);
    margin-bottom: 1.25em;
    margin-top:2em;
}
.intro-msg{
    // padding for left right and bottom links
    @include left-right-bottom-links;
    // left might margins pushed in closer
    @include left-right-margin;
    text-align: center;
    line-height:ms(1);
    font-size: ms(1);
}

header #projects:hover,
header #projects:focus {
   color:blue;
}

header #projects {
    color:black;
    font-style:italic;
    padding: 2px;
    margin: 0 -2px;
}

header #projects{
    border:none;
    border-bottom: 2px solid blue;
    // cyan rect appear over link
    background:linear-gradient(cyan,cyan) no-repeat bottom;
    background-size:100% 1px;
    // transition when hovered on
    transition: .2s,color .1s .1s;
    text-decoration:none;
}

header #projects:hover{
   background-size:100% 100%;
}

.multiply{
    display: block;
    margin:1em auto;
    width:100%;
    height:32em;
}

.multiply circle {
    mix-blend-mode:multiply;
}
