/*  Home-Page Module Mixins and Extends */
@import "modules/home-page/home-module";
/* Gobal Variables */
@import "partials/variables";
@import "partials/typography";

body{
    height:2080px;
     background-color: $sand;
}

header{
    padding-top: 30px;
}

#mixer{
    bottom:2100px;
    position: relative;
    height:450px;
    width:100%;
}

.aloha{
    fill:url('#tropics');
    font-family:$monte;
    font-weight: 700;
}

.titleName{
    text-align: center;
}

.name, .title{
    color:$text;
    font-weight: 400;
    font-family: $monte;
    @include ms-respond(font-size, 2);
}

.title{
    padding-top:-25px;
    padding-bottom: 25px;
    margin-top: -25px;
}

.intro-msg{
    // padding for left right and bottom links
    @include left-right-bottom-links;
    // left might margins pushed in closer
    @include left-right-margin;
    // responsive scale
    @include ms-respond(font-size, 1);
    text-align: center;
    line-height:ms(1);
    font-size: ms(1);
}

.built{
    @include left-right-bottom-links;
    // left might margins pushed in closer
    @include left-right-margin;
    text-align: center;
    @include ms-respond(font-size, -0);
}

header #projects:hover,
header #projects:focus {
   color:blue;
}


header #projects {
    color:black;
    padding: 2px;
    font-weight: 900;
    margin: 0 -2px;
}

header #projects{
    border:none;
    border-bottom: 2px solid blue;
    background:-webkit-linear-gradient(cyan, cyan) no-repeat bottom;
    background:-o-linear-gradient(cyan, cyan) no-repeat bottom;
    background:linear-gradient(cyan, cyan) no-repeat bottom;
    background-size:100% 1px;
    transition: .2s,color .1s .1s;
    text-decoration:none;
}

header #projects:hover{
   background-size:100% 100%;
}

circle {
  mix-blend-mode: multiply;
}
