/*  mixins, extends and colors inside home_module */
@import "modules/home-page/home-module";
@import "partials/variables";
@import "partials/typography";
@import "vendor/bourbon";


// Nav button
.slide-nav-trigger{
    position: fixed;
    z-index: 3;
    left:5%;
    top:20px;
    height:64px;
    width:64px;
    border-radius: 50%;
    background-color:$circleNav3;
    opacity: 0;
    visibility: hidden;
}

.show{
    opacity: 1;
    @include transition(opacity 1s ease-in-out);
}


#one, #two, #three{
    mix-blend-mode:screen;
}

main, section{
    position: relative;
    z-index: 2;
    // OS Bug fix
    //height: 100vh;
    overflow-y: auto;
    backface-visibility: hidden;

    // Force Hard W Acceleration
    @include transition(translateZ(0));
    backface-visibility:hidden;
    transition:transform 0.7s;
    @include transition-timing-function(cubic-bezier(.91,.01,.6,.99));

    // assign .navigation-is-open to .main
    // transform the page to move 100% left
    // when user clicks slide-nav-trigger

    .navigation-is-open &{
        @include transform(translateX(100%));
    }
}

/* Main Components Most of Styling*/

/* Nest 1
slide-nav
slide-navigation-wrapper
*/


.slide-nav{
    position: fixed;
    z-index: 1;
    top:0;
    left:0;
    height:100%;
    width:100%;
    opacity: 0;
    display: block;
    background-color:#51585A;
    visibility: hidden;
    @include transition(visibility 0s $animation-dur);

    .slide-navigation-wrapper{
        // main navigation content here
        height:100%;
        overflow-y: auto;
        overflow-scrolling:touch;
        // padds links over to the left
        padding:40px 5% 40px calc(5% + 80px);
        // Force Hard W acceleration webkit
        @include transition(translateZ(0));
        backface-visibility:hidden;
        // transform links on X axis -50% hidden off screen!
        @include transform(translateX(-50%));
        // transition the transformation
        @include transition(transform $animation-dur);
        // transition timing function makes the animation smooth
        @include transition-timing-function(cubic-bezier(.86,.01,.77,.78));
    }
    // adding navigation-is-open class and assigning our parent selector `slide-nav`

    // when slide-nav-trigger button is clicked on I toggle navigation-is-on to body of html

    .navigation-is-open & {
        visibility: visible;
        // transition visibility
        @include transition(visibility 0s 0s);
        // slide-navigation-wrapper slides out when navigation-is-on is toggled to body
        .slide-navigation-wrapper{
            // transition translate on the X axis `0`
            @include transform(translateX(0));
            // transition transform animation duration - 0.2s
            @include transition(transform $animation-dur - 0.2s);
            @include transition-timing-function(cubic-bezier(.82,.01,.77,.78));
        }
    }
}

/* Nest 2
#title <h2>
slide-nav <div>
*/

// style title
#navTitle{
    position: relative;
    font-size:ms(1);
    margin-top: 2.7em;
    padding-left: 20px;
    margin-top: 0em;

    .slide-nav::after{
        position: absolute;
        left:0;
        bottom: -20px;
        height:1px;
    }
}

/* Nest 3
 slide-primary-nav <ul>
 links  <a>
*/

.slide-nav .slide-primary-nav{
    margin-top:5em;

    li{
        margin: 1.6em 0;
    }

    a{
        font-size:ms(1);
        color:rgba($color-3, .5);
        display: inline-block;
        &.selected{
            color:$color-3;
        }
        // add class `no-touch` (modernizr), select slide-nav,
        // select slide-primary-nav with & selector and apply hover state
        &:hover{
            color:$circleNav2;
        }
    }
}
