/*  mixins, extends and colors inside home_module */
@import "modules/home-page/home-module";
@import "partials/variables";
@import "partials/typography";
@import "vendor/bourbon";


// Nav button
.slide-nav-trigger{
    position: fixed;
    z-index: 3;
    left:5%;
    top:20px;
    height:64px;
    width:64px;
    border-radius: 50%;
    background-color:$circleNav3;
    opacity: 0;
    visibility: hidden;
}

.show{
    opacity: 1;
    @include transition(opacity 1s ease-in-out);
}


#one, #two, #three{
    mix-blend-mode:screen;
}

/* Main Components Most of Styling*/

/* Nest 1
slide-nav
slide-navigation-wrapper
*/

.slide-nav{
    position: fixed;
    z-index: 1;
    top:0;
    left:0;
    height:100%;
    width:100%;
    display: block;
    // background-color:$circleNav;
    @include background($nav-bg-gradient);
    visibility: hidden;
    // @include transition(visibility 0s $animation-dur);

    .slide-navigation-wrapper{
        // main navigation content here
        height:100%;
        overflow-y: auto;
        overflow-scrolling:touch;
        // padds links over to the left
        padding:40px 5% 40px calc(10% + 80px);
        // Force Hard W acceleration webkit
        @include transition(translateZ(0));
        backface-visibility:hidden;
        // transform links on X axis -50% hidden off screen!
        @include transform(translateX(-50%));
        // transition timing function makes the animation smooth
        @include transition-timing-function(cubic-bezier(.86,.01,.77,.78));
    }

    .navigation-is-open & {
        visibility: visible;
        .slide-navigation-wrapper{
            // transition translate on the X axis `0`
            @include transform(translateX(0));
            // transition-duration: 0.3s;
            @include transition(0.5s);
        }
    }
}


.slide-nav, .animate-opacity{
    opacity:0;
}

// fade in bg when jQ triggers class animate-opacity
.animate-opacity{
    @include transition(opacity 0.8s ease);
    opacity:1;
}

/* Nest 2
#title <h2>
slide-nav <div>
*/

// style title
#navTitle{
    font-family: $lato;
    position: relative;
    font-size:ms(1);
    margin-top: 2.7em;
    padding-left: 20px;
    margin-top: 0em;

    .slide-nav::after{
        position: absolute;
        left:0;
        bottom: -20px;
        height:1px;
    }
}

/* Nest 3
 slide-primary-nav <ul>
 links  <a>
*/

.slide-nav .slide-primary-nav{
    margin-top:5em;

    li{
        list-style: none;
        margin: 1.6em 0;
    }

    a{
        @include hover-links;
        font-size:ms(1);
        margin-left: -20px;
        font-family: $lato;
        color:rgba($color-3, .5);
        display: inline-block;
        &.selected{
            color:cyan;
        }
        // add class `no-touch` (modernizr), select slide-nav,
        // select slide-primary-nav with & selector and apply hover state
        &:hover{
            color:$sand;
        }
    }
}
