@import "modules/projects/pages_module";
$img-spaceing:5px;

.proj1{
    padding-left: 20px;
    position: relative;
    font-family:sans-serif;
}

#hero_proj1{
    min-height: 100%;
    width:100%;
}

.project-desc{
    padding-left: 20px;
}

.proj-slider{
    margin: 60px auto;
    width:80%;
}

.break-wrapper{
    position: relative;
    top:20px;
    margin: 50px;
    text-align: center;
}

.proj_images{
    display: flex;
}

.images{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;

    .disp1, .disp2, .disp3, .disp3, .disp4{
        margin:$img-spaceing;
    }
}

.on_1, .on_2{
    position: absolute;
    top:210px;
    margin:$img-spaceing;
    width:450px;
    height:140px;
    background-color: blue;
}

.on_3, .on_4{
    position: absolute;
    bottom:0px;
    margin:$img-spaceing;
    width:450px;
    height:140px;
    background-color: blue;
}
